<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>用户银行卡信息</title>

<!-- header binge -->
<include file="Public/header" />

<!-- header end -->

<script type="text/javascript" src="{$Think.config.URL}js/new/unify.js"></script>

<script type="text/javascript">
jQuery(document).ready(function(){

	
	jQuery('.taglist .close').click(function(){
		jQuery(this).parent().remove();
		return false;
	});
	
});
</script>

</head>


<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
</head>
<body>

<!-- header binge -->
<include file="Public/head" />

<!-- header end -->
    
    <div class="rightpanel">
        <!-- head binge -->
        
			<include file="Public/nav" name='用户银行卡信息'/>
		
		<!-- head end -->
        
        <div class="maincontent">
            <div class="maincontentinner">
                <div class="row-fluid">
                   <div>
                        <div class="widgetbox personal-information">
                            <h4 class="widgettitle">用户银行卡信息</h4>
                            <div class="widgetcontent">
                            	<form id="form" action="{:U('Admin/search_bank_info')}">
                            		<input type="text" class="input-xlarge" name="phone" placeholder="请输入要搜索的手机号码">
                            		<select name="bank_name">
								  		<option value="">银行</option>
									  	<volist name="info" id="vo">
										  <option value="{$vo.name}">{$vo.name}</option>
										</volist>
								  	</select>
                            		<input type="button" class="btn btn-primary" value="搜索" onclick="user_search()">
                            	</form>
                            	<div id="tab1">
	                            	<table class="table table-bordered">
	                            		<tr>
	                            			<th width="200px;">用户手机号</th>
	                            			<th width="200px;">持卡姓名</th>
	                            			<th width="200px;">银行卡号</th>
	                            			<th width="200px;">审核人员</th>
	                            			<th width="200px;">操作</th>
	                            		</tr>
	                            		<volist name="list" id="vo">
	                            			<tr>
	                            				<td>{$vo.phone}</td>
	                            				<td>{$vo.name}</td>
	                            				<td>{$vo.bank_num}</td>
	                            				<td>{$vo.loan_people}</td>
	                            				<td>
	                            					<if condition="$vo.is_payment eq  0">
		                            					<a href="{:U('Admin/shenghe',array('phone'=>$vo['phone']))}">审核</a>
										            <elseif condition="$vo.is_payment eq  1"/>
										            	银行卡审核通过
										            <elseif condition="$vo.is_payment eq  2"/>
										            	银行卡审核不通过
										            </if>
	                            				</td>
	                            			</tr>
	                            		</volist>
	                            	</table> 
									{$page}
								</div>
								<div id="tab2" style="display:none">
									<table class="table table-bordered" id="table">
										<tr id="tr">
	                            			<th width="200px;">用户手机号</th>
	                            			<th width="200px;">持卡姓名</th>
	                            			<th width="200px;">银行卡号</th>
	                            			<th width="200px;">审核人员</th>
	                            			<th width="200px;">操作</th>
	                            		</tr>
									</table>
								</div>
                            </div>
                                      
                        </div>

                    </div><!--row-fluid-->
                  
                  
        		 <!-- footer binge -->
				<include file="Public/footer" />
				
				<!-- footer end -->
                
                
                
            </div><!--maincontentinner-->
        </div><!--maincontent-->
        
    </div><!--rightpanel-->
    
</div><!--mainwrapper-->

</body>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script>
//搜索手机用户 
function user_search(){
	$('#table #tr').siblings('tr').remove();
	$('#form').ajaxSubmit({
		type:"POST",
		url:$('#form').attr('action'),
		datatype:"json",
		success:function(data){
			$.each(data,function(){
				if(this.is_payment == 0){
					$('#table').append("<tr><td>"+this.phone+"</td><td>"+this.name+"</td><td>"+this.bank_num+"</td><td>"+this.loan_people+"</td><td>"
							+"<a href='/index.php/Admin/shenghe?phone="+this.phone+"'>审核</a></td></tr>");
				}else{
					$('#table').append("<tr><td>"+this.phone+"</td><td>"+this.name+"</td><td>"+this.bank_num+"</td><td>"+this.loan_people+"</td><td>已验证</td></tr>");
				}
			});
			$('#tab1').css('display','none');
			$('#tab2').css('display','block');
		}
	})
}
</script>
</html>

