<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>会员管理</title>

<!-- header binge -->
<include file="Public/header" />

<!-- header end -->

<script type="text/javascript" src="{$Think.config.URL}js/new/unify.js"></script>

<script type="text/javascript">
jQuery(document).ready(function(){

	
	jQuery('.taglist .close').click(function(){
		jQuery(this).parent().remove();
		return false;
	});
	
});
</script>

</head>


<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
</head>
<body>

<!-- header binge -->
<include file="Public/head" />

<!-- header end -->
    
    <div class="rightpanel">
        <!-- head binge -->
        
			<include file="Public/nav" name='会员管理'/>
		
		<!-- head end -->
        
        <div class="maincontent">
            <div class="maincontentinner">
                <div class="row-fluid">
                   <div>
                        <div class="widgetbox personal-information">
                            <h4 class="widgettitle">会员管理</h4>
                            <div class="widgetcontent" id="user" style="height: 2500px;">
                            	<div style="float:left;margin-top: -15px;">
	                            	<if condition="$list[0]['img_url'] eq null">
	                            	    <span>图片:</span>
	                            		<span>未持证自拍</span>
	                            	<else/>
		                            	<p>
		                            		<a href="{$list[0]['img_url']}" target="_blank"><img src="{$list[0]['img_url']}" style="width:600px;height:600px"></a>
		                            	</p>
		                            	<p>
		                            		<a href="{$list[0]['img1']}" target="_blank"><img src="{$list[0]['img1']}" style="width:600px;height:600px"></a>
		                            	</p>
										<p>
		                            		<a href="{$list[0]['img2']}" target="_blank"><img src="{$list[0]['img2']}" style="width:600px;height:600px"></a>
		                            	</p>
		                            	<!-- <if condition="$xuesheng['url'] neq null">
			                            	<p>
			                            		<a href="{$xuesheng['url']}" target="_blank"><img src="{$xuesheng['url']}" style="width:600px;height:300px"></a>
			                            	</p>
		                            	</if> -->
		                            	
	                            	</if>
                            	</div>
                            	
                            	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-left:750px;">
								  <div class="panel panel-default">
								    <div class="panel-heading" role="tab" id="headingOne">
								      <h4 class="panel-title">
								        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								          	个人信息
								        </a>
								      </h4>
								    </div>
								    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								      <div class="panel-body">
								     <!--  	<p><span style="color:red;">芝麻分：</span><span>{$list[0]['integral']}</span>&nbsp;&nbsp;<a href="#myModal" role="button"  data-toggle="modal">设置芝麻分</a></p> -->
								      	<p><span>手机号：</span><span id="phone">{$list[0]['phone']}</span></p>
			                            	<p><span>姓名：</span><span>{$list[0]['name']}</span></p>
			                            	<p><span>身份证号：</span><span>{$list[0]['uid']}</span></p>
			                            	<!-- <p><span>qq：</span><span>{$list[0]['qq']}</span></p>
			                            	<p><span>邮箱：</label><span>{$list[0]['email']}</span></span> -->
			                            	<p><span>教育水平：</span><span>{$list[0]['education']}</span></p>
			                            	<p><span>婚姻状况：</span><span>{$list[0]['marriage']}</span></p>
			                            	<p><span>有没有子女：</span><span>{$list[0]['is_children']}</span></p>
								      </div>
								    </div>
								  </div>
								  <if condition="$xuesheng eq null">
								  <div class="panel panel-default">
								    <div class="panel-heading" role="tab" id="headingTwo">
								      <h4 class="panel-title">
								        <a class="button" role="button" data-toggle="collapse"   data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								         	 工作信息
								        </a>
								      </h4>
								    </div>
								    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
								      <div class="panel-body">
								      	<p><span>工作名称：</span><span>{$work['work']}</span></p>
			                            	<p><span>工资：</span><span>{$work['wages']}</span></p>
			                            	<p><span>单位名称：</span><span>{$work['company_name']}</span></p>
			                            	<p><span>工作所在地区：</span><span>{$work['province']}{$work['city']}</span></p>
			                            	<p><span>所在地址：</span><span>{$work['address']}</span></p>
			                            	<p><span>单位固定电话：</span><span>{$work['zip_code']}</span></p>
								      </div>
								    </div>
								  </div>
								  <else/>
								  <div class="panel panel-default">
								    <div class="panel-heading" role="tab" id="headingTwo">
								      <h4 class="panel-title">
								        <a class="button" role="button" data-toggle="collapse"   data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								         	 学生信息
								        </a>
								      </h4>
								    </div>
								    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
								      <div class="panel-body">
								      	<p><span>学校名称：</span><span>{$xuesheng['school']}</span></p>
			                            	<p><span>专业：</span><span>{$xuesheng['major']}</span></p>
			                            	
			                            	<p><span>学信网账号：</span><span>{$xuesheng['account']}</span></p>
			                            	<p><span>学信网密码：</span><span>{$xuesheng['password']}</span></p>
								      </div>
								    </div>
								  </div>
								  </if>
								  
								  <div class="panel panel-default">
								    <div class="panel-heading" role="tab" id="headingThree">
								      <h4 class="panel-title">
								        <a class="button" role="button" data-toggle="collapse"  data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								          	社交联系人
								        </a>
								      </h4>
								    </div>
								    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
								      <div class="panel-body">
								      	<p><span>联系人：</span><span>{$list[0]['family']}</span>&nbsp;&nbsp;&nbsp;&nbsp;<p>姓名：<span>{$list[0]['family_name']}</span></p><span>电话：<span>{$list[0]['family_mobile']}</span></span></p>
										<p><span>联系人：</span><span>{$list[0]['gam']}</span>&nbsp;&nbsp;&nbsp;&nbsp;<p>姓名：<span>{$list[0]['gam_name']}</span></p><span>电话：<span><span>{$list[0]['gam_mobile']}</span></span></p>
										
								      </div>
								    </div>
								  </div>
								  <div class="panel panel-default">
								    <div class="panel-heading" role="tab" id="headingFour">
								      <h4 class="panel-title">
								        <a class="button" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								          	银行卡信息
								        </a>
								      </h4>
								    </div>
								    <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
								      <div class="panel-body">
								      		<if condition="$bank eq null">
								      		未绑定银行卡
								      		<else/>
								      		<p><span>持卡姓名：</span><span>{$bank['name']}</span></p>
								      		<p><span>银行卡号：</span><span>{$bank['bank_num']}</span></p>
								      		<p><span>开户行：</span><span>{$bank['bank_name']}</span></p>
											<p><span>开户行省份：</span><span>{$bank['province']}</span></p>
								      		<p><span>开户行城市：</span><span>{$bank['city']}</span></p>
											<p><span>开户行网点：</span><span>{$bank['account_opening']}</span></p>
											</if>
								      </div>
								    </div>
								  </div>
								  <div class="panel panel-default">
								  <if condition="$auditing neq null">
									 <button type="button" class="btn btn-primary" onclick="auditing(this)" value="" id="{$id}">通过</button>
									 <button type="button" class="btn"  value="" onclick="remark(this)" id="{$id}">不通过</button>
								  </if> <!-- <div class="panel-heading" role="tab" id="headingsix">
								      <h4 class="panel-title">
								        <a class="button" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
								          	借款信息
								        </a>
								      </h4>
								    </div> -->
								   <!--  <div id="collapsesix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingsix">
								      <div class="panel-body">
			                            	<p><span>申请时间：</span><span>{$res[0]['apply_time']}</span></p>
			                            	<p><span>金额：</span><span>{$res[0]['money_num']}</span></p>
			                            	<p><span>期限：</span><span>{$res[0]['time_length']}</span></p>
			                            	<p><span>快速信审费：</label><span>{$res[0]['letter']}</span></span>
			                            	<p><span>息费：</span><span>{$res[0]['interest']}</span></p>
			                            	<p><span>账户管理费：</span><span>{$res[0]['account_money']}</span></p>
			                            	<p><span>到期还款额：</span><span>{$res[0]['sum']}</span></p>
			                            	<if condition="$fangkuan neq null">
			                            		<p><span>已经扣除相关费用</span></p>
			                            	</if>
			                            	<p><span>服务密码：</span><span>{$list[0]['service_pwd']}</span></p>
			                            	<p>
			                            	<span>状态：</span>
			                            	<span>
			                            	<if condition="$list[0]['is_adopt'] eq -1">
                           						未完善个人资料
                           					<elseif condition="$list[0]['is_adopt'] eq 0"/>
                           						<span style="color:red">申请中</span>
                           					<elseif condition="$list[0]['is_adopt'] eq 1"/>
                           						<if condition="$bank['is_payment'] eq 0">
                           							验证银行卡
                           						<elseif condition="$bank['is_payment'] eq 1"/>
                           							等待放款
                           						<elseif condition="$bank['is_payment'] eq 2"/>
                           							银行卡验证失败
                           						<else/>
                           						初审通过
                           						</if>
                           					<elseif condition="$list[0]['is_adopt'] eq 2"/>
                           						未通过
                           					<else/>
                           						已取消申请
                           					</if>
			                            	</span>
			                            	</p>
			                            	<p>
			                            	<if condition="$list[0]['loan_people'] eq null">
			                            	<else/>
			                            	<span>审核人员：</span><span>{$list[0]['loan_people']}</span>
			                            	</if>
			                            	</p>
			                            	<p>
			                            	<if condition="$list[0]['is_renewal'] eq 0">
			                            	<else/>
			                            	<span>续期：</span><span>{$list[0]['is_renewal']}</span>
			                            	</if>
			                            	</p>
								      </div>
								    </div> -->
								  </div>
								</div>
                            	

                            </div>
                                      
                        </div>
                        
                        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						    <h3 id="myModalLabel">设置芝麻分</h3>
						  </div>
						  <div class="modal-body">
						    <span>芝麻分:</span>
						    <input type="text" name="integral" id="integral" value="{$list[0]['integral']}">
						    <input type="hidden" name="phone" value="{$phone}">
						  </div>
						  <div class="modal-footer">
						    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
						    <button type="button" class="btn btn-primary" onclick="zmf()">确定</button>
						  </div>
						</div>
                    </div><!--row-fluid-->
                  
                  
        		 <!-- footer binge -->
				<include file="Public/footer" />
				
				<!-- footer end -->
                
                
                
            </div><!--maincontentinner-->
        </div><!--maincontent-->
        
    </div><!--rightpanel-->
    
</div><!--mainwrapper-->

</body>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script>
function zmf(){
	var phone = $("#phone").text();
	var integral = $("#integral").val();
	$.ajax({
		type:"POST",
		url:"{:U('Admin/integral')}",
		data:{
			"integral":integral,
			"phone":phone
		},
		datatype:"json",
		success:function(data){
			if(data == '添加成功'){
				setTimeout(function(){window.location.reload()},1000);
			}else{
				alert(data);
			}
		}
	})
}
function auditing(obj){
	var id = obj.id;
	window.location.href="/index.php/Admin/auditing?id="+id;
}
function remark(obj){
	var id = obj.id;
	window.location.href="/index.php/Admin/no_auditing?id="+id;
}
//搜索手机用户 
function user_search(){
	$('#table #tr').siblings('tr').remove();
	$('#form').ajaxSubmit({
		type:"POST",
		url:$('#form').attr('action'),
		datatype:"json",
		success:function(data){
			$.each(data,function(){
				$('#table').append("<tr><td>"+this.uname+"</td><td>"+this.phone+"</td><td>"+this.time+"</td></tr>")
			});
			$('#tab1').css('display','none');
			$('#tab2').css('display','block');
		}
	})
}
</script>
</html>
