<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>任务管理</title>

<!-- header binge -->
<include file="Public/header" />

<!-- header end -->

<script type="text/javascript" src="{$Think.config.URL}js/new/unify.js"></script>
</head>


<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
</head>
<body >

<!-- header binge -->
<include file="Public/head" />

<!-- header end -->
    
    <div class="rightpanel">
        
        <!-- head binge -->
        
			<include file="Public/nav" name='任务管理'/>
		
		<!-- head end -->
                
        <div class="maincontent">
            <div class="maincontentinner">
                <div class="row-fluid">
                        <div>
                            
                                <div class="widgetbox personal-information">
                                    <h4 class="widgettitle">放款失败原因</h4>
                                    <div class="widgetcontent">
                                    	<div style="padding:15px 40px;">
                                    		<form action="{:U('Task/loan_fail')}" id="form">
                                    			
		                                            <input type="hidden"  name="id" value="{$id}"/>
		                                       
		                                        <p style="margin:0 0;">
		                                        	<label style="float:left;margin-top: 5px;">失败原因备注：</label>
		                                        	<textarea rows="3" name="content"></textarea>
		                                        </p>
		                                     </form>
                                            <p>
	                                        	<button class="btn btn-primary" onclick="loan_fail()">提交审核</button>
			                                </p>
                                    	</div>
                                    </div>
                                </div>
                            
                        </div><!--span8-->
                    </div><!--row-fluid-->
                   <div style="height:292px;"></div>
                  
        		 <!-- footer binge -->
				<include file="Public/footer" />
				
				<!-- footer end -->
                
                
                
            </div><!--maincontentinner-->
        </div><!--maincontent-->
        
    </div><!--rightpanel-->
    
</div><!--mainwrapper-->
<script>
function loan_fail(){
	$('#form').ajaxSubmit({
		type:"POST",
		url:$('#form').attr('action'),
		datatype:"json",
		success:function(data){
			if(data == '放款失败'){
				setTimeout(function(){window.location.href="{:U('Task/examine_list')}"},1000);
			}
		}
	})
}
</script>
</body>
</html>
