<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>服务合同</title>
<style>
h3{
	text-align: center;
}
</style>
</head>
<body>
	<h3>借款服务协议（学之助）</h3>
		
	<p>
	    编号：JSY-{$number}
	</p>
	<p>
	    本协议由以下双方于：{$riqi}签署：
	</p>
	<p>
	    &nbsp;
	</p>
	<p>
	    甲方（借款人）：{$user_name}
	</p>
	<p>
	    身份证号：{$id}
	</p>
	<p>
	  乙方：友顺（青岛）金融服务有限公司
	</p>
	<p>
	   地址：青岛市漳州路13号
	</p>
	<p>
	  邮编：266000
	</p>
	<p style="line-height:21px">
	    鉴于：
	</p>
	
	<p>
	  甲方有借款需求；乙方为甲方提供借款服务，推荐出借人，促成交易，并在甲方申请借款过程中协助其办理各项手续以及还款提醒催收管理等服务。
甲方同意接受乙方的服务并与乙方达成协议如下：
	</p>
	<p style="line-height:21px">
	 第一条 &nbsp;释义
	</p>
	<p>
	    1.1 &nbsp;服务费：指乙方为甲方提供的借款服务，并在甲方借款过程中协助其办理各项手续以及提供还款提醒催收管理等服务而由甲方支付给乙方的报酬，其中含快速信审费（即乙方为甲方提供快速信用评估而由甲方支付给乙方的报酬）和账户管理服务费。
	</p>
	<p>
	  1.2 &nbsp;《借款协议》：指甲方于与乙方推荐的出借人签署的全部《借款协议》。
	</p>
	<p>
	   1.3 &nbsp;出借人：指与甲方签署《借款协议》的出借人。
	</p>
	<p>
	  1.4&nbsp; 支付机构：指在借款人及本协议各方之间作为中介机构提供资金转移服务的银行或非金融机构。
	</p>
	
	<p style="line-height:21px">
	    第二条&nbsp; 甲方的权利与义务
	</p>
	<p>
	  2.1 &nbsp;甲方在借款过程中，应如实向乙方提供必要的个人信息。
	</p>
	<p>
	  2.2 &nbsp;甲方同意乙方或乙方合作机构在甲方未按时履行还款义务时，使用甲方提供的信息提醒或督促甲方履行还款义务。
	</p>
	<p>
	    2.3 &nbsp;《借款协议》生效后，甲方应履行《借款协议》约定的还款义务；如甲方接到出借人或其代理人发出的债权转让通知，甲方应继续向债权受让人履行《借款协议》的还款义务。
	</p>
	<p>
	   2.4 &nbsp;借款期内，甲方提前还款的，乙方服务费不予减免。
	</p>
	<p>
	  2.5 &nbsp;按本合同约定一次性偿还到期服务费及对应《借款协议》约定的本息，乙方不接受甲方部分还款，任何未一次行到期清偿的行为都视为全部容时或逾期
	</p>
	<p>
	  2.6 &nbsp;甲方同意乙方通过第三方支付公司代扣支付平台，从甲方在《借款协议》中指定的银行账户中将还款金额一次性全部划拨到乙方在第三方支付公司的专用账户。甲方应当按照需支付的的金额在上述银行卡内存入足够的款项，乙方工作人员根据甲方需支付的金额办理相关扣款转账手续；由于挂失、账户冻结、金额不足等原因造成扣款失败而导致甲方损失的，由甲方自行承担。
	</p>
	<p>
	2.7 甲方同意，如甲方在履行《借款协议》的过程中存在违约情形，乙方可将甲方不良信息予以公开披露或向征信机构提供。
	</p>
		<p>
	2.8&nbsp; 甲方理解并接受乙方促成交易过程中可能将其信息提供给多个出借人，而获取甲方个人信息的出借人可能拒绝出借。
	</p>
		<p>
	2.9&nbsp; 根据《借款协议》，甲方知晓并同意，乙方作为《借款协议》中出借人的代理人，有权代出借人收取本息及罚金、代为催收、代为追究甲方的违约责任、代为向甲方发送和接受通知。
	</p>
	<p style="line-height:21px">
	   第三条 乙方的权利与义务
	</p>
	<p>
	 3.1&nbsp; 乙方须为甲方借款撮合，并在甲方申请借款服务过程中协助其办理各项手续以及提供还款提醒催收管理等服务。
	</p>
	<p>
	3.2 &nbsp;乙方依据本协议向甲方收取服务费。
	</p>
	
	<p>
	3.3 &nbsp;对于甲方在接受服务时向乙方提供的个人资料及其他各类信息，乙方应依法为甲方保密。
	</p>

	<p style="line-height:21px">
	   
	第四条&nbsp; 服务费及支付方式
	</p>
	
	<p>
	  4.1 &nbsp;甲方向乙方支付利息人民币:{$interest}，其中快速信审费人民币:{$letter}，账户管理费人民币:{$account_money}；
	</p>
	<p>4.2&nbsp; 在甲方还款容时期（如有）内，乙方有权向甲方收取容时期账户管理费，容时期账户管理费=当期未还款项（元）×[0.96]%×实际容时天数；
	</p>
	<p>4.3 &nbsp;甲方逾期的，须支付逾期账户管理费，逾期账户管理费=当期未还本金(元)×[1.95]%×实际逾期天数。
	</p>
	<p style="line-height:21px">
	    第五条&nbsp;甲方指定账户的变更
	</p>
	<p>
	   5.1 &nbsp;甲方须确保《借款协议》指定收款账户和还款账户为甲方名下合法有效的银行账户。如甲方需要变更指定还款账户，须在还款日前至少5个工作日向乙方提出申请。否则甲方应承担因此而产生的未及时还款的违约责任。
	</p>
	<p>5.2&nbsp; 在还款过程中，甲方有义务配合乙方为保证还款而进行的包括但不限于账户验证、账户变更、身份验证等事项，因甲方不配合而造成的未能正常还款的违约责任，概由甲方承担。
	</p>
	<p>5.3 &nbsp;在征得乙方同意的特殊情形下，甲方可以以电话方式向乙方申请变更其指定还款账户，并配合乙方为保证还款而进行的包括但不限于账户验证、账户变更、身份验证等事项，否则甲方须承担因此而产生的未及时还款或其他未能正常还款的违约责任。
	</p>
	
	<p style="line-height:21px">
	    第六条&nbsp;违约责任
	</p>
	<p>
	    6.1&nbsp; 任何一方违反本协议的约定，导致本协议的全部或部分不能履行，均应承担违约责任，并赔偿守约方因此遭受的损失；如双方均违约，根据实际情况各自承担相应的责任。
	</p>
	<p>6.2 &nbsp;因甲方未按本协议及《借款协议》约定及时还款而导致乙方发生的催收费用，包括但不限于调查费用、仲裁费用、律师费用及委托其他公民仲裁所产生的差旅费用等，概由甲方承担。
	</p>
	<p>6.3&nbsp; 因甲方发生逾期还款行为，乙方有权与甲方通讯运营商详单中的电话或者短信联系人取得联系，告知甲方联系人本借款合同的内容并请求甲方联系人向甲方转达违约提醒，乙方与甲方联系人的联系方式包括但不限于电话、短信、电子邮件和上门等，乙方进行以上违约提醒及/或催收工作所产生的相关费用由甲方承担。
	</p>
	<p style="line-height:21px">
	    第七条&nbsp; 变更通知
	</p>
	<p>
	  7.1&nbsp; 本协议签订之日起至借款全部清偿之日止，甲方有义务在下列信息变更三日内提供更新后的信息给乙方：
	</p>
	<p>7.1.1&nbsp; 甲方工作单位、居住地址、住所电话、手机号码、电子邮箱等；
	</p>
	<p>7.1.2 &nbsp;甲方家庭联系人或紧急联系人工作单位、居住地址、住所电话、手机号码等。
	</p>
	<p>7.2 因甲方不提供或不及时提供上述变更信息而导致丙方产生的损失，包括但不限于调查费用、仲裁费用及律师费用及委托其他公民仲裁所产生的差旅费用等，概由甲方承担
	</p>

	<p style="line-height:21px">
	    第八条&nbsp;征信授权
	</p>
	<p>
	  8.1 &nbsp;甲方知晓并同意乙方依据《征信业管理条例》及相关法律法规，委托第三方征信机构，合法调查甲方信息，包括但不限于个人基本信息、借贷交易信息、银行卡交易信息、电商交易信息、公用事业信息、央行征信报告。所获取的信息，仅在此笔借贷业务的居间服务和贷后管理工作中使用。乙方将对所获取的信息妥善进行保管，除为甲方提供信审服务/借款资金的合作方外，未经甲方授权，不得向其他机构或个人公开、编辑或透露信息内容。
	</p>
	<p>8.2&nbsp; 甲方知晓并同意乙方依据《征信业管理条例》及相关法律法规，向第三方征信机构提交甲方在此笔借贷业务中产生的相关信息，包括但不限于个人基本信息、借款申请信息、借款合同信息以及还款行为信息，并记录在征信机构的个人信用信息数据库中。
	</p>
	<p>8.3 &nbsp;甲方同意若未按时履行还款义务，乙方按合同所留联系方式对甲方进行提醒并告知，甲方若仍未履行还款义务，乙方可将甲方的逾期还款信息提交至第三方征信机构，记录在征信机构的个人信用信息库中。
	</p>
	<p>8.4 &nbsp;甲方知晓并同意，甲方已被明确告知未按时还款信息一旦记录在第三方征信机构的个人信用信息数据库中，在日后的经济活动中对甲方可能产生的不良影响。
	</p>
	<p>8.5 &nbsp;甲方保证其所提供的个人信息均为甲方本人的真实信息，不可为他人的信息或虚假信息，若涉嫌恶意信息作假或盗用他人信息，将可能记入网络征信系统，影响甲方的征信记录，同时乙方将保留追究甲方相应法律责任的权利。
	</p>
	<p style="line-height:21px">
	    第九条&nbsp;法律适用与管辖
	</p>
	<p>9.1&nbsp; 本协议适用中国法律。</p>
	<p>9.2 &nbsp;双方一致同意，如发生争议，不论争议金额大小，均提交乙方所在地人民法院诉讼解决。</p>
	<p style="line-height:21px">
	    第十条&nbsp; 其他
	</p>
	<p>10.1 &nbsp;本协议及其附件的任何修改、补充均须以书面形式作出，补充协议与本协议具有同等法律效力。
	</p>
	<p>10.2 &nbsp;本协议采用电子文本形式制成，并保存在学之友微额速达（及其合作的第三方电子签约平台）为此设立的专用服务器上备查，各方均认可该形式的协议效力。本协议的传真件、复印件和扫描件等有效复本的效力与本协议原件效力一致。
	</p>
	<p>10.3 &nbsp;本协议部分条款无效或不能履行，不影响其他条款的效力与履行。
	</p>
	

</body>
</html>