<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>未还款</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="{$Think.config.URL}/css/lend_success.css" rel="stylesheet">
	</head>
	<body>
		<div class="center-block img-responsive">
			<img src="{$Think.config.URL}/images/xianjinbashi/home.png" class="img-responsive">
		</div>
		<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=appid&redirect_uri=http://www.leeyears.com/index.php/Weixin/loan_details&response_type=code&scope=snsapi_base&state=1#wechat_redirect" class="center-block keep term">点击还款</a>
	</body>
</html>
