
<!DOCTYPE html>
<html data-embedded="">
<head>
<meta charset="utf-8">
<title>微信有奖调研！</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" type="image/x-icon"
	href="https://gd-prod-assets.b0.upaiyun.com/assets/favicon-98915f1a756cc974c6d2c85a8e886178.ico" />
<link rel="stylesheet" media="screen"
	href="https://gd-prod-assets.b0.upaiyun.com/assets/published-bc4ffe9e62b19323d2546a52da952f02.css"
	debug="false" />

<script>
	(function() {
		var js;
		if (typeof JSON !== 'undefined' && 'querySelector' in document
				&& 'addEventListener' in window) {
			js = 'https://gd-prod-assets.b0.upaiyun.com/assets/jquery/jquery-b99135f05f1900cb5872dfadf4245ce9.js';
		} else {
			js = 'https://gd-prod-assets.b0.upaiyun.com/assets/jquery/jquery-1.11.3-e6ad493a1ff0a716a7bf1e7342d524ac.js';
		}
		document.write('<script src="' + js + '"><\/script>');
	}());
</script>

<script
	src="https://gd-prod-assets.b0.upaiyun.com/assets/published_forms/application-93b4b89939f301e47a9887cfb5300eae.js"
	debug="false"></script>

<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token"
	content="m4ic1EZrKdsiF8YHkkno9rgJaYgtlQQYKLJWYG4tksMpGf1liWist9Y4cbnIyjtvrLFMnsONxAR4EBKA2hiajg==" />
</head>
<body class="entry-container">
	<div class="entry-container-inner">



		<style type="text/css">
.entry-container {
	background-color: #FFF;
	background-image:
		url(https://gd-prod-assets.b0.upaiyun.com/assets/wallpaper/textures/texture_ochre-937ab4fb004bca394af79d6eb75d5063.png?imageView2/2/w/1920);
	background-position: top center;
	background-attachment: fixed;
	background-repeat: repeat;
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
	.entry-container {
		background-color: #FFF;
		background-image:
			url(https://gd-prod-assets.b0.upaiyun.com/assets/wallpaper/textures/texture_ochre-937ab4fb004bca394af79d6eb75d5063.png?imageView2/2/w/1440);
		background-position: top center;
		background-attachment: fixed;
		background-repeat: repeat;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.entry-container {
		background-color: #FFF;
		background-image:
			url(https://gd-prod-assets.b0.upaiyun.com/assets/wallpaper/textures/texture_ochre-937ab4fb004bca394af79d6eb75d5063.png?imageView2/2/w/768);
		background-position: top center;
		background-attachment: fixed;
		background-repeat: repeat;
	}
}

@media screen and (max-width: 480px) {
	.entry-container {
		background-color: #FFF;
		background-image:
			url(https://gd-prod-assets.b0.upaiyun.com/assets/wallpaper/textures/texture_ochre-937ab4fb004bca394af79d6eb75d5063.png?imageView2/2/w/480);
		background-position: top center;
		background-attachment: fixed;
		background-repeat: repeat;
	}
}
</style>

		<style type="text/css">
.entry-container>.entry-container-inner .center {
	max-width: 700px;
}

.entry-container>.entry-container-inner>form {
	background-color: rgba(255, 255, 255, 0.8);
	max-width: 700px;
	border-width: 0;
	border-color: rgb(106, 106, 106);
}

.entry-container>.entry-container-inner>form>.banner {
	background-color: #6A6A6A;
	font-size: 1.333em;
	font-weight: normal;
	color: #FFF;
	text-align: left;
}

.entry-container>.entry-container-inner>form>.form-header .form-title {
	font-size: 1.667em;
	font-weight: normal;
	color: #222;
	text-align: left;
}

.entry-container>.entry-container-inner>form .fields .field {
	padding-top: 15px;
	padding-bottom: 15px;
}

.entry-container>.entry-container-inner>form .fields .field .field-label
	{
	font-size: 1.167em;
	font-weight: bold;
	color: #222;
}

.entry-container>.entry-container-inner>form .fields .field .choices label,
	.entry-container>.entry-container-inner>form .fields .field .likert thead th,
	.entry-container>.entry-container-inner>form .fields .field .matrix thead th,
	.entry-container>.entry-container-inner>form .fields .field .goods-items .name
	{
	font-size: 1.000em;
	font-weight: normal;
	color: #222;
}

.entry-container>.entry-container-inner>form .submit-field {
	text-align: left;
}

.entry-container>.entry-container-inner>form .submit-field .gd-btn {
	background-color: #6A6A6A;
	padding: 0 30px;
	font-size: 1.167em;
	font-weight: normal;
	color: #FFF;
	border-color: transparent;
	border-width: 1px;
}
</style>


		<form class="center with-shadow">
			<div class="banner font-family-inherit">
				<div class="banner-text"></div>
			</div>

			<div class="form-content container-fluid">
				<div class="row">

					<div class="fields clearfix">
						<div class="field field-mobile-field col-sm-12 required"
							data-api-code="field_1" data-type="MobileField"
							data-label="您的手机号"
							data-validations="[&quot;Presence&quot;,&quot;Uniqueness&quot;,&quot;Format&quot;]">


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_1"> 您的手机号 </label>
								</div>
								<div class="field-content">

									<div data-role='verification_sender'>
										<input class="mobile-input input-with-icon" name="phone"/>
									</div>

								</div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_2"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-radio-button col-sm-12 required">


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_3"> 您是怎么关注到e快金的？ </label>
								</div>
								<div class="field-content">
									<div class="field-description clearfix">
										<p>
											<span style="color: #339966;">以下选项为单选</span>
										</p>
									</div>

									<div class="choices font-family-inherit">
										<label onclick="" class="radio "> 
											<input type="radio"value="微信朋友圈/群" name="follow" /> 微信朋友圈/群
										</label> 
										<label onclick="" class="radio "> 
											<input type="radio"value="好友推荐" name="follow" /> 好友推荐
										</label> 
										<label onclick="" class="radio "> 
											<input type="radio"value="QQ群" name="follow" /> QQ群
										</label> 
										<label onclick="" class="radio "> 
											<input type="radio"value="微博" name="follow" /> 微博
										</label> 
										<label onclick="" class="radio "> 
											<input type="radio"value="贴吧" name="follow" /> 贴吧
										</label>
										<div class="other-choice-area ">
											<label onclick="" class="radio  "> 
												<input class="other_choice" type="radio" value="其它" name="follow" /> 其它
											</label> 
											<span class="other-choice-input-container">
												<input class="other-choice-input gd-input-medium gd-input-thin fixed-width-control" type="text" value=""name="entry[field_3_other]" />
											</span>
										</div>
									</div>

								</div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_4"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12"
							data-api-code="field_44" data-type="SectionBreak" data-label=""
							data-validations="[]">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_44"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-radio-button col-sm-12 required">


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_7"> 在e快金借款，您最看重的因素是？ </label>
								</div>
								<div class="field-content">
									<div class="field-description clearfix">
										<p>
											<span style="color: #339966;">以下选项为单选</span>
										</p>
									</div>

									<div class="choices font-family-inherit">
										<label onclick="" class="radio "> <input type="radio"
											value="放款速度" name="factor" /> 放款速度
										</label> <label onclick="" class="radio "> <input type="radio"
											value="利率高低" name="factor" /> 利率高低
										</label> <label onclick="" class="radio "> <input type="radio"
											value="额度高低" name="factor" /> 额度高低
										</label> <label onclick="" class="radio "> <input type="radio"
											value="e快金的知名度和信誉实力" name="factor" /> e快金的知名度和信誉实力
										</label>
										<div class="other-choice-area ">
											<label onclick="" class="radio  "> 
												<input class="other_choice" data-field-key="field_7" type="radio"value="其它" name="factor" /> 其它
											</label> 
											<span class="other-choice-input-container">
												<input class="other-choice-input gd-input-medium gd-input-thin fixed-width-control" type="text"name="factor" />
											</span>
										</div>
									</div>

								</div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_33"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-number-field col-sm-12 required">


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_9"> 您期待的一次借款金额是多少？<span>（请输入500-5000之间的数字）</span>
									</label>
								</div>
								<div class="field-content">
									<div class="field-description clearfix">
										<p>
											<span style="color: #339966;">范围500-5000元</span>
										</p>
									</div>

									<input class="input-with-icon" step="any" max="5000" min="500" type="number" name="money_num"/>


								</div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_10"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-drop-down col-sm-12 required">


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_48"> 您期待的一次借款天数是多少？ </label>
								</div>
								<div class="field-content">
									<div class="field-description clearfix">
										<p>
											<span style="color: #339966;">以下选项为单选</span>
										</p>
									</div>

									<select name="time_length" id="entry_field_48"
										class="needsclick" data-has-error="false">
										<option	value="">请选择</option>
										<option value="7天">7天</option>
										<option value="14天">14天</option>
										<option value="21天">21天</option>
										<option value="1个月">1个月</option>
										<option value="2个月">2个月</option>
										<option value="3个月">3个月</option>
										<option value="4个月">4个月</option>
										<option value="5个月">5个月</option>
										<option value="6个月">6个月</option>
									</select>



								</div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_13"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-check-box col-sm-12 required">


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_14"> 您在e快金借款的主要用途是？ </label>
								</div>
								<div class="field-content">
									<div class="field-description clearfix">
										<p>
											<span style="color: #339966;">以下选项为多选</span>
										</p>
									</div>

									<div class="choices font-family-inherit">
										<label onclick="" class="checkbox "> <input
											type="checkbox" value="资金周转" name="purpose" />
											资金周转
										</label> <label onclick="" class="checkbox "> <input
											type="checkbox" value="网购付款" name="purpose" />
											网购付款
										</label> <label onclick="" class="checkbox "> <input
											type="checkbox" value="偿还信用卡" name="purpose" />
											偿还信用卡
										</label> <label onclick="" class="checkbox "> <input
											type="checkbox" value="商场购物结账" name="purpose" />
											商场购物结账
										</label> <label onclick="" class="checkbox "> <input
											type="checkbox" value="缴付房租/房贷" name="purpose" />
											缴付房租/房贷
										</label> <label onclick="" class="checkbox "> <input
											type="checkbox" value="外面就餐结账" name="purpose" />
											外面就餐结账
										</label> <label onclick="" class="checkbox "> <input
											type="checkbox" value="参加婚礼、过年发红包等应酬" name="purpose" />
											参加婚礼、过年发红包等应酬
										</label>
										<div class="other-choice-area ">
											<label onclick="" class="checkbox  "> <input
												class="other_choice" data-field-key="field_14"
												type="checkbox" value="其它" name="purpose" /> 其它
											</label> <span class="other-choice-input-container"><input
												class="other-choice-input gd-input-medium gd-input-thin fixed-width-control"
												data-field-key="field_14" type="text" value=""
												name="purpose" id="entry_field_14_other" /></span>
										</div>
									</div>

								</div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_15"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-check-box col-sm-12 required">


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_16"> 借款过程中您曾经遇到过哪些问题？ </label>
								</div>
								<div class="field-content">
									<div class="field-description clearfix">
										<p>
											<span style="color: #339966;">以下选项为多选</span>
										</p>
									</div>

									<div class="choices font-family-inherit">
										<label onclick="" class="checkbox "> <input
											type="checkbox" value="网页加载速度过慢" name="problem" />
											网页加载速度过慢
										</label> <label onclick="" class="checkbox "> <input
											type="checkbox" value="微信号无法提供服务" name="problem" />
											微信号无法提供服务
										</label> <label onclick="" class="checkbox "> <input
											type="checkbox" value="手机多次验证失败" name="problem" />
											手机多次验证失败
										</label> <label onclick="" class="checkbox "> <input
											type="checkbox" value="银行卡多次验证失败" name="problem" />
											银行卡多次验证失败
										</label> <label onclick="" class="checkbox "> <input
											type="checkbox" value="联系不上客服" name="problem" />
											联系不上客服
										</label> <label onclick="" class="checkbox "> <input
											type="checkbox" value="审核速度过慢" name="problem" />
											审核速度过慢
										</label>
										<div class="other-choice-area ">
											<label onclick="" class="checkbox  "> <input
												class="other_choice" data-field-key="field_16"
												type="checkbox" value="其它" name="problem" /> 其它
											</label> <span class="other-choice-input-container"><input
												class="other-choice-input gd-input-medium gd-input-thin fixed-width-control"
												data-field-key="field_16" type="text" value=""
												name="problem" id="entry_field_16_other" /></span>
										</div>
									</div>

								</div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_17"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-radio-button col-sm-12 required">


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_18"> 您对我们的人工客服感觉如何？ </label>
								</div>
								<div class="field-content">
									<div class="field-description clearfix">
										<p>
											<span style="color: #339966;">以下选项为单选</span>
										</p>
									</div>

									<div class="choices font-family-inherit">
										<label onclick="" class="radio "> <input type="radio"
											value="满意" name="service" /> 满意
										</label> <label onclick="" class="radio "> <input type="radio"
											value="一般" name="service" /> 一般
										</label> <label onclick="" class="radio "> <input type="radio"
											value="有待改进" name="service" /> 有待改进
										</label> <label onclick="" class="radio "> <input type="radio"
											value="很差" name="service" /> 很差
										</label> <label onclick="" class="radio "> <input type="radio"
											value="没体验过" name="service" /> 没体验过
										</label>
									</div>

								</div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_19"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-radio-button col-sm-12 required">


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_20"> 您是否有信用卡？ </label>
								</div>
								<div class="field-content">
									<div class="field-description clearfix">
										<p>
											<span style="color: #339966;">以下选项为单选</span>
										</p>
									</div>

									<div class="choices font-family-inherit">
										<label onclick="" class="radio "> <input type="radio"
											value="1" name="credit" /> 是
										</label> <label onclick="" class="radio "> <input type="radio"
											value="0" name="credit" /> 否
										</label>
									</div>

								</div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_21"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_23"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-radio-button col-sm-12 required">


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_24"> 您在意您的征信记录吗？ </label>
								</div>
								<div class="field-content">
									<div class="field-description clearfix">
										<p>
											<span style="color: #339966;">以下选项为单选</span>
										</p>
									</div>

									<div class="choices font-family-inherit">
										<label onclick="" class="radio "> <input type="radio"
											value="我很在意" name="faith" /> 我很在意
										</label> <label onclick="" class="radio "> <input type="radio"
											value="我比较在意" name="faith" /> 我比较在意
										</label> <label onclick="" class="radio "> <input type="radio"
											value="我不是很在意" name="faith" /> 我不是很在意
										</label>
									</div>

								</div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12"
							data-api-code="field_25" data-type="SectionBreak" data-label=""
							data-validations="[]">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_25"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-check-box col-sm-12 required">


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_26"> 您觉得征信记录不良会有哪些负面影响？ </label>
								</div>
								<div class="field-content">
									<div class="field-description clearfix">
										<p>
											<span style="color: #339966;">以下选项为多选</span>
										</p>
									</div>

									<div class="choices font-family-inherit">
										<label onclick="" class="checkbox "> <input
											type="checkbox" value="不能办理信用卡" name="bad_faith" />
											不能办理信用卡
										</label> <label onclick="" class="checkbox "> <input
											type="checkbox" value="不能去其它平台借款" name="bad_faith" />
											不能去其它平台借款
										</label> <label onclick="" class="checkbox "> <input
											type="checkbox" value="因信用“污点”找工作困难" name="bad_faith" />
											因信用“污点”找工作困难
										</label> <label onclick="" class="checkbox "> <input
											type="checkbox" value="不能贷款购房、购车" name="bad_faith" />
											不能贷款购房、购车
										</label>
										<div class="other-choice-area ">
											<label onclick="" class="checkbox  "> <input
												class="other_choice" data-field-key="field_26"
												type="checkbox" value="其它" name="bad_faith" /> 其它
											</label> <span class="other-choice-input-container"><input
												class="other-choice-input gd-input-medium gd-input-thin fixed-width-control"
												data-field-key="field_26" type="text" value=""
												name="bad_faith" id="entry_field_26_other" /></span>
										</div>
									</div>

								</div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_27"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-radio-button col-sm-12 required">


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_36"> 您急需用钱的时候多吗？ </label>
								</div>
								<div class="field-content">
									<div class="field-description clearfix">
										<p>
											<span style="color: #339966;">以下选项为单选</span>
										</p>
									</div>

									<div class="choices font-family-inherit">
										<label onclick="" class="radio "> <input type="radio"
											value="一个星期一次" name="is_need_money" /> 一个星期一次
										</label> <label onclick="" class="radio "> <input type="radio"
											value="一个月一次" name="is_need_money" /> 一个月一次
										</label> <label onclick="" class="radio "> <input type="radio"
											value="2-3个月左右一次" name="is_need_money" /> 2-3个月左右一次
										</label> <label onclick="" class="radio "> <input type="radio"
											value="4-6个月一次" name="is_need_money" /> 4-6个月一次
										</label> <label onclick="" class="radio "> <input type="radio"
											value="1年一次" name="is_need_money" /> 1年一次
										</label> <label onclick="" class="radio "> <input type="radio"
											value="1年都难得一次/从来没有过" name="is_need_money" /> 1年都难得一次/从来没有过
										</label>
									</div>

								</div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_40"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-radio-button col-sm-12 required">


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_37"> 您一般在什么时候比较缺钱？ </label>
								</div>
								<div class="field-content">
									<div class="field-description clearfix">
										<p>
											<span style="color: #339966;">以下选项为单选</span>
										</p>
									</div>

									<div class="choices font-family-inherit">
										<label onclick="" class="radio "> <input type="radio"
											value="每月1-5日" name="time_lack" /> 每月1-5日
										</label> <label onclick="" class="radio "> <input type="radio"
											value="每月5-10日" name="time_lack" /> 每月5-10日
										</label> <label onclick="" class="radio "> <input type="radio"
											value="每月10-15日" name="time_lack" /> 每月10-15日
										</label> <label onclick="" class="radio "> <input type="radio"
											value="每月15-20日" name="time_lack" /> 每月15-20日
										</label> <label onclick="" class="radio "> <input type="radio"
											value="每月20-25日" name="time_lack" /> 每月20-25日
										</label> <label onclick="" class="radio "> <input type="radio"
											value="每月25-31日" name="time_lack" /> 每月25-31日
										</label>
									</div>

								</div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_8"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-number-field col-sm-12 required">


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_45"> 您几号发工资？<span>（请输入1-31之间的数字）</span>
									</label>
								</div>
								<div class="field-content">

									<input class="input-with-icon" data-icon="gd-icon-number"
										step="any" max="31" min="1" type="number" name="pay_off"/>


								</div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_41"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_29"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-text-area col-sm-12 required">


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_30"> 您觉得e快金哪方面做的不错？<span>（请填写4-200个字符）</span>
									</label>
								</div>
								<div class="field-content">
									<div class="field-description clearfix">
										<p>
											<span style="color: #339966;">请输入</span>
										</p>
									</div>

									<textarea rows="3" name="proposal">
</textarea>

								</div>
							</div>


						</div>
						<div class="field field-section-break col-sm-12">
							<hr />


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_31"> </label>
								</div>
								<div class="field-content"></div>
							</div>


						</div>
						<div class="field field-text-area col-sm-12 required">


							<div class="form-group">
								<div class="field-label-container" onclick="">
									<label class="field-label font-family-inherit"
										for="entry_field_32"> 您觉得e快金哪方面做的最差？<span>（请填写4-200个字符）</span>
									</label>
								</div>
								<div class="field-content">
									<div class="field-description clearfix">
										<p>
											<span style="color: #339966;">请输入</span>
										</p>
									</div>

									<textarea rows="3" name="complain"></textarea>

								</div>
							</div>


						</div>
					</div>

					<div class="field submit-field col-md-12 clearfix">
							<input type="button" value="提交" onclick="submit_content()" />
					</div>
				</div>
			</div>
		</form>

	</div>

</body>
<script>
function submit_content(){
	var phone = $('input[name=phone]').val();
	var follow = $("input[name=follow]:checked").val();
	var factor = $("input[name=factor]:checked").val();
	var money_num = $("input[name=money_num]").val();
	var time_length = $("select[name=time_length]").val();
	var purpose = $("input[name=purpose]:checked").val();
	var problem = $("input[name=problem]:checked").val();
	var service = $("input[name=service]:checked").val();
	var credit = $("input[name=credit]:checked").val();
	var faith = $("input[name=faith]:checked").val();
	var bad_faith = $("input[name=bad_faith]:checked").val();
	var is_need_money = $("input[name=is_need_money]:checked").val();
	var time_lack = $("input[name=time_lack]:checked").val();
	var pay_off = $("input[name=pay_off]").val();
	var proposal = $("textarea[name=proposal]").val();
	var complain = $("textarea[name=complain]").val();
	$.ajax({
		type:"POST",
		url:"{:U('Weixin/add_survey')}",
		data:{
			'phone':phone,
			'follow':follow,
			'factor':factor,
			'money_num':money_num,
			'time_length':time_length,
			'purpose':purpose,
			'problem':problem,
			'service':service,
			'credit':credit,
			'faith':faith,
			'bad_faith':bad_faith,
			'is_need_money':is_need_money,
			'time_lack':time_lack,
			'pay_off':pay_off,
			'proposal':proposal,
			'complain':complain
		},
		datatype:"json",
		success:function(data){
			if(data == '提交成功'){
				alert(data);
				setTimeout(function(){WeixinJSBridge.call('closeWindow')},1000);
			}
		}
	})
}
</script>
</html>
