<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<title>自拍身份证案例</title>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="{$Think.config.URL}css/bootstrap.css" rel="stylesheet" />
<link href="{$Think.config.URL}css/bootstrap-responsive.css" rel="stylesheet" />
<link href="{$Think.config.URL}css/fsgallery.css" rel="stylesheet" />

<script src="{$Think.config.URL}js/jquery-1.9.1.min.js"></script>
<script src="{$Think.config.URL}js/fs_forse.js"></script>
<style>
P{
	text-align:center;
	color: red;
}
div{
	margin-top: 40px;
}
</style>
</head>
<body>
	<div>
		<p>1.手持身份证</p>
		<ul class="thumbnails" id="gallery">
            <li class="span3">
                <a href="{$Think.config.URL}/images/xianjinbashi/shenfeng1.jpg">
                    <img src="{$Think.config.URL}/images/xianjinbashi/shenfeng1.jpg" class="img-responsive">
                </a>
            </li>
        </ul>
	</div>
	<div>
		<p>2.身份证正面</p>
		<ul class="thumbnails" id="gallery">
            <li class="span3">
                <a href="{$Think.config.URL}/images/xianjinbashi/shenfeng2.png">
                    <img src="{$Think.config.URL}/images/xianjinbashi/shenfeng2.png" class="img-responsive">
                </a>
            </li>
        </ul>
	</div>
	<div>
		<p>3.身份证反面</p>
		<ul class="thumbnails" id="gallery">
            <li class="span3">
                <a href="{$Think.config.URL}/images/xianjinbashi/shenfeng3.png">
                    <img src="{$Think.config.URL}/images/xianjinbashi/shenfeng3.png" class="img-responsive">
                </a>
            </li>
        </ul>
	</div>
</body>
</html>