<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<title>学信网截图案例</title>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="{$Think.config.URL}css/bootstrap.css" rel="stylesheet" />
<link href="{$Think.config.URL}css/bootstrap-responsive.css" rel="stylesheet" />
<link href="{$Think.config.URL}css/fsgallery.css" rel="stylesheet" />

<script src="{$Think.config.URL}js/jquery-1.9.1.min.js"></script>
<script src="{$Think.config.URL}js/fs_forse.js"></script>
<style>
P{
	text-align:center;
	color: red;
}
.div{
	margin-top: 40px;
}
</style>
</head>
<body>
	<div class="div">
		<p>1.截图时尽量把信息完整的提现出来</p>
		<ul class="thumbnails" id="gallery">
            <li class="span3">
                <a href="{$Think.config.URL}/images/xianjinbashi/xuexin.jpg">
                    <img src="{$Think.config.URL}/images/xianjinbashi/xuexin.jpg" class="img-responsive">
                </a>
            </li>
        </ul>
	</div>
	<p><a href="http://my.chsi.com.cn">学信网链接</a></p>
</body>

</html>