<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{$Think.config.TITLE}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="{$Think.config.URL}/css/alipay.css" rel="stylesheet">
	</head>

	<body>
		<dl class="con">
			<dt class="img">
				<img src="{$Think.config.URL}/images/xianjinbashi/home.png" alt="" />
			</dt>
			<dd class="info">
				<h3 class="refer">您的信息已经提交申请！</h3>
				<h4 class="refer">{$data}</h4>
				<p class="other">我们稍后将通知您审核结果，若想<br><span class="prior">优先审核</span>，可选择</p>
			</dd>
		</dl>
		<a href="{:U('Weixin/zhima')}" class="sure">填写芝麻分</a>
		<a href="javascript:;" class="sure" style=" margin-top:11px;" onclick="guangbi()">完成</a>
		<div class="power">
			<p class="get">认证成功可得:</p>
			<ul>
				<li>
					<i class="icon"></i>优先审核
				</li>
				<li>
					<i class="icon"></i>更高通过率
				</li>
				<li>
					<i class="icon"></i>优先提额，敬请期待
				</li>
			</ul>
		</div>
	</body>
	<script>
	function guangbi(){
		WeixinJSBridge.call('closeWindow');
	}
	</script>
</html>