<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>推广二维码</title>
<style type="text/css">
html{
	height: 100%;
    width: 100%;
}
body{
	background-image:url({$Think.config.URL}/images/xianjinbashi/tuiguan.jpg);
	height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    background-size: 100% 100%;
}
img{
	width: 46%;
    height: 28%;
    position: absolute;
    bottom: 31px;
    left: 27%;
}
</style>
</head>
<body>
	<img src="{$img}" style="text-align:center;"/> 
</body>
</html>