<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{$Think.config.TITLE}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="{$Think.config.URL}/css/examine.css" rel="stylesheet">
	</head>

	<body>
		<div class="header top-head">
			<h4 class="title">{$Think.config.TITLE}
				<a class="back">
					<i class="icon icon-back pull-left"></i>
				</a>
			</h4>
		</div>
		<div class="con">
			<ul class="list">
				<if condition="$data eq 1 or $data eq 8">
					<li class="list-item color" id="one">
						<i class="icons loading"></i>
						后台审核
						<if condition="$data eq 8">
						<span class="fr text">续期审核中</span>
						<else/>
						<span class="fr text">预计20分钟</span>
						</if>
					</li>
				<elseif condition="$data eq 3"/>
					<li class="list-item color" id="one">
						<i class="icons loading"></i>
						后台审核
						<span class="fr text">未持证自拍</span>
					</li>
				<else/>
					<li class="list-item color" id="one">
						<i class="icons loading yes"></i>
						后台审核
						<span class="fr text">完成</span>
					</li>
				</if>
				
			<if condition="$data neq 8">
				
				
				<!-- <if condition="$data eq 9">
					<li class="list-item" id="two">
						<i class="icons"></i>
						绑定银行卡
						<span class="fr text">未绑定</span>
					</li>
				<elseif condition="$data eq 2"/>
					<li class="list-item color" id="two">
						<i class="icons loading"></i>
						绑定银行卡
						<span class="fr text">正在验证</span>
					</li>
				<elseif condition="$data eq 5  or $data eq 4 or $data eq 6 or $data eq 7 or $data eq 11 or $data eq 12"/>
					<li class="list-item color" id="two">
						<i class="icons loading yes"></i>
						绑定银行卡
						<span class="fr text">完成</span>
					</li>
				</if> -->
				
				<!-- <li class="list-item">
					<em class="next"></em>
				</li>
				<li class="list-item color" id="two">
						<i class="icons loading yes"></i>
						签约
						<span class="fr text">完成</span>
					</li> -->
				<!-- <if condition="$data eq 11">
					<li class="list-item" id="two">
						<i class="icons"></i>
						签约
						<span class="fr text">未签约</span>
					</li>
				<elseif condition="$data eq 12"/>
					<li class="list-item color" id="two">
						<i class="icons loading yes"></i>
						签约
						<span class="fr text">完成</span>
					</li>
 				</if> -->
				
				<li class="list-item">
					<em class="next"></em>
				</li>
				
				<if condition="$datas eq 1">
					<li class="list-item color" id="five">
						<i class="icons loading yes"></i>
						开始放款
						<span class="fr text">成功</span>
					</li>
				<else/>
					<li class="list-item color" id="five">
						<i class="icons loading yes"></i>
						开始放款
						<span class="fr text">等待</span>
					</li>
				</if>
				<li class="list-item">
					<em class="next"></em>
				</li>
				<if condition="$data eq 6">
					<li class="list-item color" id="five">
						<i class="icons loading yes"></i>
						续期中
						<span class="fr text">等待审核</span>
					</li>
				<elseif condition="$data eq 7"/>
					<li class="list-item color" id="five">
						<i class="icons loading yes"></i>
						还款中
						<span class="fr text">等待审核</span>
					</li>
				</if>
			</if>
			</ul>
			
			<if condition="$data eq 9 ">
			<a href="queren_loan">
			<button class="sure" style="background-color: #00b4ff;">
				绑定银行卡
			</button>
			</a>
			<elseif condition="$data eq 11"/>
			<a href="{:U('Weixin/protocol',array('id'=>$id))}">
			<button class="sure" style="background-color: #00b4ff;">
				签约
			</button>
			</a>
			<else/>
			<!-- <button class="sure">
				后台审核中...
			</button> -->
			</if>
			
<!--			<p class="explain">我们正在审核您的资料，请耐心等待。<br>点击<a href="">查看详情</a></p>
-->		</div>
	</body>
	<script type="text/javascript">
		if($("#one").children(".icons").hasClass("yes")) {
			$("#one").children(".text").text("完成");
			$("#two").addClass("color").children(".icons").addClass("loading");
		}
	</script>
</html>