<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>十万火急借款</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="{$Think.config.URL}/css/guide.css" rel="stylesheet">
		<script type="text/javascript" src="{$Think.config.URL}js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="{$Think.config.URL}js/common.js"></script>
	</head>
	<body>
		您的审核未通过，无法解开，原因：
		{$fail_content}
		
		{$Think.config.TITLE}审核采用大数据分析，涉及公司机密，无法进一步告知您审核未通过的原因。
		
		短期内再次申请无效，请至少3天以后再来，推荐等待一个月
		
		
	</body>
</html>
