<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>服务密码重置指南</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="{$Think.config.URL}/css/guide.css" rel="stylesheet">
		<script type="text/javascript" src="{$Think.config.URL}js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="{$Think.config.URL}js/common.js"></script>
	</head>
	<body>
		<div class="header top-head">
			<h4 class="title">服务密码重置指南
				<a class="back" href="JavaScript:history.go(-1)">
					<i class="icon icon-back pull-left"></i>
				</a>
			</h4>
		</div>
		<div class="img">
			<img src="{$Think.config.URL}/images/xianjinbashi/guide.png"/>
		</div>
		<div class="pos">
				<a class="back abs" href="JavaScript:history.go(-1)">
					返回
				</a>
		</div>
	</body>
</html>
