<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="requict/normalize.css?v2" rel="stylesheet">
    <link href="scss/index.css?v2" rel="stylesheet">
    <link href="requict/swiper-3.3.1.min.css?v2" rel="stylesheet">
	<link rel="stylesheet" href="common_scroll.css?v2" />
	<style>
		body{
			font-size:10px !important;
		}
		h2{
			font-size:10px !important;
		}
		h3{
			font-size:10px !important;
		}
		span{
			font-size:10px !important;
		}
		div{
			font-size:10px !important;
		}
	</style>
<body>


<div class="feet">
    <ul>
        <li style="margin-left: 0px;">
            <a href="javascript:;">
                <i class="icon icon-home active"></i>
                <span class="active">
                    နေအိမ်
                </span>
            </a>
        </li>
        
        <!--<li>
            <a href="block/all-shopping.html">
                <i class="icon icon-all "></i>
                <span class="">
                    ကုန်စည်ဒိုင်
                </span>
            </a>
        </li>-->
        
        <li style="margin-left: 5%;">
            <a href="block/announce.html">
                <i class="icon icon-announce "></i>
                <span class="">
                    ထုတ်ပြန်ကြေညာ
                </span>
            </a>
        </li>

<li style=" margin-left: 10%;">
	<a href="block/shop-car.html">
		<i class="icon icon-cart ">
                    <b class="shop-num"></b>
                </i>
		<span class="">
                  စျေးဝယ်
                </span>
	</a>
</li>
        <li class="login"  style="margin-left:5%;">
            <a>
                <i class="icon icon-yonghu "></i>
                <span class="">
                    ပုဂ္ဂိုလ်ရေးစင်တာ
                </span>
            </a>
        </li>
    </ul>
</div>
</script>
</html>
