<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>借款金额</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
		<link rel="stylesheet" type="text/css" href="{$Think.config.URL}css/swiper3.1.0.min.css" />
		<link href="{$Think.config.URL}css/loan.css" rel="stylesheet">
	</head>

	<body>
		<div class="header top-head">
			<h4 class="title">十万火急借款
			<a class="back">
				<i class="icon icon-back"></i>
			</a>
		</h4>
		</div>
		<div class="fun">
			<form action="" method="post">
				<div class="deviation" align="center">
					<p>请选择借款金额</p>
				</div>
				<div class="wrap">
					<div class="swiper-container swiper-container-horizontal">
						<div class="swiper-wrapper">
							<div class="swiper-slide close" style="margin-right: 30px;">500</div>
							<div class="swiper-slide" style="margin-right: 30px;">1000</div>
							<div class="swiper-slide" style="margin-right: 30px;">1500</div>
							<div class="swiper-slide" style="margin-right: 30px;">2000</div>
							<div class="swiper-slide" style="margin-right: 30px;">2500</div>
							<div class="swiper-slide" style="margin-right: 30px;">3000</div>
						</div>
					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
				<div class="deviation" align="center">
					<p>请选择借款时长</p>
				</div>
				<div align="center" class="cost">
					<button class="btn btn-primary num" value="7" type="button">7天</button>
					<button class="btn num" value="14" type="button">14天</button>
				</div>
				<div class="deviation all">
					<span class="text1">快速信审费：<span class="censor"></span>元</span>
					<span class="text2">息&nbsp;&nbsp;费：<span class="accrual"></span>元</span>
				</div>
				<div class="deviation all">
					<span class="text1">账户管理费：<span class="manage"></span>元</span>
					<span class="text2">免息卷：<span class="free">0</span>元</span>
				</div>
				<div align="center" class="txt">
					<p>实际到账：<span class="repay"></span> <span style="color: #00B4FF;font-size: 20px;">元</span></p>
				</div>
				
				<button class="btn" type="button" id="register" onclick="user_money_info()">下一步</button>

			</form>
		</div>

	</body>
	<script type="text/javascript" src="{$Think.config.URL}js/jquery-1.9.1.min.js"></script>
	<script src="{$Think.config.URL}js/swiper3.1.0.min.js" type="text/javascript"></script>
	<script>
		var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			slidesPerView: 'auto',
			paginationClickable: true,
			spaceBetween: 30,
			prevButton: '.swiper-button-prev',
			nextButton: '.swiper-button-next',
		});
		
//		进入时候获取
			var qian = $(".close").text();
			var text = $(".btn-primary").val();
			$.ajax({
				type: "POST",
				url: "{:U('Weixin/get_money')}",
				data: {
					"money": qian,
					"time": text
				},
				dataType: "json",
				success: function(data) {
					if(data) {
						//						快速信审费
						$(".censor").text(data[0].letter);
						//						息费
						$(".accrual").text(data[0].interest);
						//						账户管理费
						$(".manage").text(data[0].account_money);
						//						总共
						$(".repay").text(data[0].sum);
					}
				}
			})
		//		金额选择
		$(".swiper-slide").click(function() {
			$(this).addClass("close").siblings().removeClass("close");
			var qian = $(this).text();
			var text = $(".btn-primary").val();
			$.ajax({
				type: "POST",
				url: "{:U('Weixin/get_money')}",

				data: {
					"money": qian,
					"time": text
				},
				dataType: "json",
				success: function(data) {
					if(data) {
						//						快速信审费
						$(".censor").text(data[0].letter);
						//						息费
						$(".accrual").text(data[0].interest);
						//						账户管理费
						$(".manage").text(data[0].account_money);
						//						总共
						$(".repay").text(data[0].sum);
					}
				}
			})

		})

//		天数选择
		$(".num").click(function() {
			$(this).addClass("btn-primary").siblings().removeClass("btn-primary");
			var text = $(this).val();
			var qian = $(".close").text();
			$.ajax({
				type: "POST",
				url: "{:U('Weixin/get_money')}",

				data: {
					"money": qian,
					"time": text
				},
				dataType: "json",
				success: function(data) {
					if(data) {
						//						快速信审费
						$(".censor").text(data[0].letter);
						//						息费
						$(".accrual").text(data[0].interest);
						//						账户管理费
						$(".manage").text(data[0].account_money);
						//						总共
						$(".repay").text(data[0].sum);
					}
				}
			})
		})
		
		function user_money_info(){
				var phone = $("#phone").val();
				var openid = $("#openid").val();
				var qian = $(".close").text();  //金额 
				var time = $(".btn-primary").val();  //期限
				var letter = $(".censor").text();  //	快速信审费
				var interest = $(".accrual").text();//						息费
				var account_money = $(".manage").text();//						账户管理费
				var sum = $(".repay").text();//						总共
				$.ajax({
					type:"POST",
					url:"{:U('Weixin/user_money_info')}",
					data:{
						'money_num':qian,
						'time_length':time,
						'letter':letter,
						'interest':interest,
						'account_money':account_money,
						'sum':sum,
						'phone':phone,
						'openid':openid
					},
					datatype:"json",
					success:function(data){
						if(data == 1){
							setTimeout(function(){window.location.href="/index.php/Weixin/verify_mobile"},1000);
						}else{
							alert(data);
						}
					}
				})
			}
	</script>

</html>