<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>个人信息</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="{$Think.config.URL}/css/info.css" rel="stylesheet">
		<script type="text/javascript" src="{$Think.config.URL}js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="wrap">
			<div class="tab-tit clearfix" id="tabTit">
				<a href="http://www.leeyears.com/index.php/Weixin/info?phone={$user[0]['phone']}&openid={$user[0]['openid']}"><span class="fl data">个人资料</span></a>
				<span class="sel fl loan">我要还款</span>
			</div>
			<div class="tab-con" id="tabCon">
				<div class="lan">
					<div class="table-list">
						<table>
							<tbody>
								<tr>
									<td>手机号码</td>
									<td id="phone">{$user[0]['phone']}</td>
									<td>&nbsp;</td>
									<td>
										<i class="fr tu"></i>
										<a href="{:U('Weixin/logout')}" class="fr">注销</a>
									</td>
								</tr>
								<!-- <tr class="color">
									<td>登录密码</td>
									<td>
										******
									</td>
									<td>
										<i class="fr tu"></i>
										<a href="{:U('Weixin/reset_pwd')}" class="fr">重置</a>
									</td>
									<td>
										<i class="fr tu"></i>
										<a href="{:U('Weixin/new_pwd',array('phone'=>$user[0]['phone']))}" class="fr">修改</a>
									</td>
								</tr> -->
								<tr>
									<td>职业</td>
									<td>
										<if condition="$user_work[0]['work'] eq null">
											--
										<else/>
											{$user_work[0]['work']}
										</if>
									</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								<tr class="color">
									<td>收入水平</td>
									<td>
										<if condition="$user_work[0]['wages'] eq null">
											--
										<else/>
											{$user_work[0]['wages']}
										</if>
									</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="table-list">
						<table>
							<tbody>
								<tr>
									<td rowspan="2" class="identity">&nbsp;</td>
									<td style="text-align: center; ">身份证号</td>
									<td>
										<if condition="$user_info[0]['uid'] eq null">
											--
										<else/>
											{$user_info[0]['uid']}
										</if>
									</td>
									<td></td>
								</tr>
								<tr class="color">
									<td style="text-align: center; ">真实姓名</td>
									<td>
										<if condition="$user_info[0]['name'] eq null">
											--
										<else/>
											{$user_info[0]['name']}
										</if>
									</td>
									<td>
										<a href="{:U('Weixin/user_info',array('phone'=>$user[0]['phone'],'openid'=>$user[0]['openid']))}">填写</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="table-list">
						<table>
							<tbody>
								<tr>
									<td rowspan="2" class="bank">&nbsp;</td>
									<td style="text-align: center; ">银行名称</td>
									<td>
										<if condition="$bank_info['bank_name'] eq null">
											--
										<else/>
											{$bank_info['bank_name']}
										</if>
									</td>
								</tr>
								<tr class="color">
									<td style="text-align: center;">银行卡号</td>
									<td>
										<if condition="$bank_info['bank_num'] eq null">
											--
										<else/>
											{$bank_info['bank_num']}
										</if>
									</td>
									<td>

										<a href="{:U('Weixin/queren_loan',array('phone'=>$user[0]['phone'],'openid'=>$user[0]['openid']))}" style="color: transparent;">填写</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
				<div class="block lan">
				<if condition="$user_money_info eq null">
					<div class="record" style="text-align: center;">您尚未借款</div>
				<elseif condition="$user_money_info[0]['repayment_state'] eq 1"/>
					<div class="record" style="text-align: center;">您尚未借款</div>
				<else/>
				<volist name="user_money_info" id="vo">
					<div class="record">
						<table>
							<tbody>
								<tr>
									<td>借款类型</td>
									<td>普通借款</td>
									<td>&nbsp;</td>
								</tr>
								<tr class="color">
									<td>申请时间</td>
									<td>{$vo.apply_time}</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>金额</td>
									<td>{$vo.money_num}</td>
									<td>&nbsp;</td>
								</tr>
								<tr class="color">
									<td>期限</td>
									<td>{$vo.time_length}</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>打款日</td>
									<td>---</td>
									<td>&nbsp;</td>
								</tr>
								<tr class="color">
									<td>约定还款日</td>
									<td>---</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>借款状态</td>
									<td>
										<php>
											if($vo['is_adopt'] == -1){
												echo '未完善个人资料';
											}else if($vo['is_adopt'] == 0){
												echo '申请中';
											}else if($vo['is_adopt'] == 1){
												if($bank_info){
													if($bank_info[is_payment] == 0){
														echo '银行卡验证中';
													}else if($bank_info[is_payment] == 1){
														if($payment == null or $payment['repayment_state'] == 0){
															if($user[0]['is_loan'] == 2){
																echo '放款失败，请再次确定银行卡信息是否正确';
															}else{
																echo '等待放款中';
															}
														}else if($payment['repayment_state'] == 1){
															echo '等待放款中';
														}else{
															echo '放款成功';
														}
													}else if($bank_info[is_payment] == 2){
														echo "银行卡未通过验证";
													}
												}else{
													echo '初审通过';
												}
											}else if($vo['is_adopt'] == 2){
												echo '未通过';
											}else if($vo['is_adopt'] == 3){
												echo '已经取消申请';
											}
										</php>
									</td>
									<td>&nbsp;</td>
								</tr>
								<if condition="$vo['is_adopt'] eq -1">
									<tr class="color">
										<td>
											<p class="cancel" data-toggle="modal" data-target=".bs-example-modal-m"></p>
											<p>取消申请</p>
										</td>
										<td>&nbsp;</td>
										<td>
											<a href="loan">
												<p class="continue"></p>
												<p>继续借款</p>
											</a>
	
										</td>
									</tr>
								</if>
							</tbody>
						</table>
					</div>
					</volist>
				</if>
				</div>
			</div>
		</div>
		<!--弹窗-->
		<div class="modal fade bs-example-modal-m" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-body">
						<p class="free-phone">确定要取消这次借款申请吗？</p>
					</div>
					<div class="modal-header clearfix">
						<div class="call">
							<button id="regNow " type="button" class="btn on yans btn-default u-btn-default nonumber registerednow" data-dismiss="modal" data-toggle="modal" data-target=".bs-example-modal-lgs">
                            <span class="caching" style="display:block" onclick="cancel_apply()">确认</span>
                        </button>
							<button id="regNow" type="button" class="btn on  btn-default u-btn-default nonumber registerednow" data-dismiss="modal" data-toggle="modal" data-target=".bs-example-modal-lgs">
                            <span class="color">取消</span>
                        </button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
	<script type="text/javascript">
		//功能描述：点击tab格，改变当前的样式，并且显示对应到内容
		$(".tab-tit span").click(function() {
			var index = $(this).index();
			$(this).addClass("sel").siblings().removeClass("sel");
			$(".tab-con>div").eq(index).addClass("block ").siblings().removeClass("block ");
		})
		//用户取消申请
		function cancel_apply(){
			var id = {$user_money_info_id};
			$.ajax({
				type:"POST",
				url:"{:U('Weixin/cancel_apply')}",
				data:{'id':id},
				datatype:"json",
				success:function(data){
					alert(data);
					setTimeout(function(){window.location.href="/index.php/Weixin/info"},1000);
				}
			})
		}
	</script>

</html>