<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>留言给CEO</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="{$Think.config.URL}/css/logout.css" rel="stylesheet">	
		<script type="text/javascript" src="{$Think.config.URL}js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="{$Think.config.URL}js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{$Think.config.URL}js/jquery.validate.min.js"></script>	
		<script type="text/javascript" src="{$Think.config.URL}js/jquery.form-3.51.0.js"></script>
	</head>
	<body>
		<h3 class="title">留言给CEO</h3>
		<p class="explain">您好！如对产品使用有任何疑问，可以直接微信留言，或者您有什么不满意的以及建议，您也可以给CEO留言，我们会尽快回复您！</p>
		<div class="list">
			<form id="form" action="{:U('Weixin/add_message')}">
				<div class="form-group select">
					<select name="info[message]">
						<option value="建议">建议</option>
						<option value="投诉">投诉</option>
					</select>
				</div>
				<p class="text">
					<textarea name="info[content]" rows="" cols="" placeholder="请写下您的留言"></textarea>
				</p>
				<input type="hidden" value="{$phone}" id="phone">
				<button class="btn btn-primary" type="button" id="register" onclick="cancel()">提交</button>
			</form>
		</div>
	</body>
	<script>
	//输入框非空方法 
	function checkText(){
		return $("#form").validate({
			errorPlacement: function(error, element) {  
			    error.appendTo(element.parent());  
			},
			errorElement: "p",
			rules:{
				"info[content]":{
					required:true
				}
			},
			messages:{
				"info[content]":{
					required:'请写下您的留言'
				}
			}
		})
	}
	function cancel(){
		if(!checkText().form())return;
		var phone = $('#phone').val();
		$('#form').ajaxSubmit({
			type:"POST",
			url:$('#form').attr('action'),
			data:{'phone':phone,},
			datatype:"json",
			success:function(data){
				if(data == '添加成功'){
					alert(data);
					setTimeout(function(){WeixinJSBridge.call('closeWindow')},100);
				}
			}
		})
	}
	</script>
</html>
