<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{$Think.config.TITLE}</title>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="{$Think.config.URL}/css/Weixin.verify_user_info.css" rel="stylesheet">
<script type="text/javascript" src="{$Think.config.URL}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/validate-methods.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/jquery.form-3.51.0.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/common.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/PCASClass.js"></script>
<style>
div.error {
           color:red;
        }
        .class {
	-webkit-animation:rotage-change 2s linear 0.5s infinite ;
}
@-webkit-keyframes rotage-change {
             /*起始*/
         from {         
              -webkit-transform: rotate(0deg);
         }
         /*结束*/
         to {
              -webkit-transform: rotate(360deg);
         }
      }
.btn-upload label img {
	width: 65%;
}
.con dt img {
	display: block;
	height: 100%;
}
.con dd {
	height: 20px;
	font: normal 12px/20px "Microsoft YaHei";
	text-align: center;
}
.biger {
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	width: 100%;
	height: 100%;
}
.biger-bac {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.biger-pic {
	position: relative;
	display: none;
	width: 100%;
	height: 50%;
	margin: 0 auto;
	padding: 50px;
}
.biger-bac img {
	display: block;
	width: 100%;
	height: 100%;
}
.biger-pic span {
	position: absolute;
	right: 50px;
	top: 50px;
	width: 20px;
	height: 20px;
	background-color: red;
	color: white;
	font: bold 12px/20px "Microsoft YaHei";
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
</style>
</head>
<body>
	<div class="container">
	  
	  <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
	    <ul id="myTabs" class="nav">
	      <li class="pull-left border">
	      	个人信息
	      </li>
	      <li class="pull-left">
	      	职业信息
	      </li>
	      <li class="pull-left">
	      	社会关系
	      </li>
	    </ul>
	    <div id="myTabContent" class="tab-content">
	    <!-- 个人信息 -->
	      <div class="blcok" id="user" >
	      	<form id="user_info" action="{:U('Weixin/add_user_info')}">
			  <div class="form-group">
			    <input type="text" class="form-control" name="info[name]" id="name" value="{$list1[0]['name']}"  placeholder="真实姓名">
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" name="info[uID]" value="{$list1[0]['uid']}" id="uid" placeholder="身份证号">
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" name="info[qq]" value="{$list1[0]['qq']}" placeholder="QQ号码">
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" name="info[email]" value="{$list1[0]['email']}" placeholder="电子邮箱地址">
			  </div>
			  <div class="form-group select">
			  	<input type="hidden" value="{$list1[0]['education']}" id="education">
			  	<select name="info[education]" id="select1">
					  <option value="">教育水平</option>
					  <option value="小学">小学</option>
					  <option value="初中">初中</option>
					  <option value="高中">高中</option>
					  <option  value="大专">大专</option>
					  <option value="本科">本科</option>
					  <option value="研究生">研究生</option>
					  <option value="博士">博士</option>
			  	</select>
			  	<span class="down">
			  		<span class="down-img"></span>
			  	</span>
			  </div>
			  <div class="form-group select">
			  	<input type="hidden" value="{$list1[0]['marriage']}" id="marriage">
			  	<select name="info[marriage]" id="select2">
					  <option value="">婚姻状况</option>
					  <option value="已婚">已婚</option>
					  <option value="未婚">未婚</option>
			  	</select>
			  	<span class="down">
			  		<span class="down-img"></span>
			  	</span>
			  </div>
			  <div class="form-group select">
			  	<input type="hidden" value="{$list1[0]['is_children']}" id="is_children">
			  	<select name="info[is_children]" id="select3">
					  <option value="">有无子女</option>
					  <option value="有">有</option>
					  <option value="无">无</option>
			  	</select>
			  	<span class="down">
			  		<span class="down-img"></span>
			  	</span>
			  </div>
			  
			  <div class="checkbox">
			    <label>
			    <if condition="$list1[0]['phone'] neq null">
			      <input type="checkbox" name="agree" checked="checked">我同意<a class="span" href="javascript:;" onclick="gerenzhengxin()">《个人征信授权协议书》</a>
			    <else/>
			      <input type="checkbox" name="agree" >我同意<a class="span" href="javascript:;" onclick="gerenzhengxin()">《个人征信授权协议书》</a>
			    </if>
			    </label>
			  </div>
			  
			  <input type="hidden" value="{$phone}"  name="info[phone]">
			  <input type="hidden" value="{$openid}"  name="info[openid]">
			  <button style="width: 100%;" type="button" class="btn btn-primary" id="next" onclick="add_user_info()">下一页</button>
			</form>
	      </div>
	      <!-- 职业信息 -->
	      <div  class="" id="work" >
	      <div id="gongzuo">
	      	<form id="user_work" action="{:U('Weixin/add_user_work')}">
	      	  <div class="form-group select">
	      	  	<if condition="$list2[0]['work'] neq null">
	      	  		<input type="hidden" value="{$list2[0]['work']}" id="work1">
	      	  	<elseif condition="$list4[0]['work'] neq null"/>
	      	  		<input type="hidden" value="{$list4[0]['work']}" id="work1">
	      	  	</if>
			  	<select name="info[work]" id="select4">
					  <option value="">请选择您的职业</option>
					  <option value="学生">学生</option>
					  <option value="企业、事业单位">企业、事业单位</option>
					  <option value="专业技术人员">专业技术人员</option>
					  <option value="商业、服务业">商业、服务业</option>
					  <option value="农、林、牧、渔、水利业生产人员">农、林、牧、渔、水利业生产人员</option>
					  <option value="运输设备操作人员">运输设备操作人员</option>
					  <option value="其他">其他</option>
					  <option value="无">无</option>
			  	</select>
			  	<span class="down">
			  		<span class="down-img"></span>
			  	</span>
			  </div>
			  <div class="form-group select">
			  	<input type="hidden" value="{$list2[0]['wages']}" id="wages">
			  	<select name="info[wages]" id="select5">
					  <option value="">请选择您的待遇</option>
					  <option value="1000-2000元">1000-2000元</option>
					  <option value="2000-3000元">2000-3000元</option>
					  <option value="3000-4000元">3000-4000元</option>
					  <option value="5000-10000元">5000-10000元</option>
					  <option value="10000元以上">10000元以上</option>
			  	</select>
			  	<span class="down">
			  		<span class="down-img"></span>
			  	</span>			  	
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" name="info[company_name]" value="{$list2[0]['company_name']}" placeholder="公司名称">
			  </div>
        	  <div class="city-select clearfix">
        	 	<p class="select half pull-left">
        	 		<input type="hidden" value="{$list2[0]['province']}" id="province">
             		<select name="province5" class="province pull-left" id="select6"></select>    
			  		<span class="down pull-left">
			  			<span class="down-img"></span>
			  		</span>	
        	 	</p>
				<p class="select half pull-right">
					<input type="hidden" value="{$list2[0]['city']}" id="city">
          			<select name="city5" class="city" id="select7"></select>
			  		<span class="down">
			  			<span class="down-img"></span>
			  		</span>	
				</p>
				<div style="display:none"><select name="area5"></select></div>
        	  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" name="info[address]" value="{$list2[0]['address']}" placeholder="请输入您的详细地址">
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" name="info[zip_code]" value="{$list2[0]['zip_code']}" placeholder="请输入单位固定号码(选填):区号-电话">
			  </div>
			  <div class="or">
			  		<input type="hidden" value="{$openid}"  name="info[openid]">
				  	<input type="hidden" value="{$phone}"  name="info[phone]">
				  	<input type="hidden" value=""  name="info[name]" id="user_name">
				   	<button type="button" class="pull-left btn btn-primary" id="last">上一页</button>
			  		<button type="button" class="pull-right btn btn-primary" id="lower" onclick="add_user_work()">下一页</button>		  	
			  </div>

			</form>
		  </div>
		  <!-- 学生信息 -->
	      <div id="xuesheng" style="display:none">
	      	<form id="xue_sheng" action="{:U('Weixin/add_xuesheng')}">
	      		<div class="form-group select">
				  	<select name="info[work]" id="sheng">
						  <option value="学生">学生</option>
						  <option value="企业、事业单位">企业、事业单位</option>
						  <option value="专业技术人员">专业技术人员</option>
						  <option value="商业、服务业">商业、服务业</option>
						  <option value="农、林、牧、渔、水利业生产人员">农、林、牧、渔、水利业生产人员</option>
						  <option value="运输设备操作人员">运输设备操作人员</option>
						  <option value="其他">其他</option>
						  <option value="无">无</option>
				  	</select>
				  	<span class="down">
				  		<span class="down-img"></span>
				  	</span>
				</div>
				<div class="city-select clearfix">
	        	 	<p class="select half pull-left">
	        	 		<input type="hidden" value="{$list4[0]['province']}" id="province2">
	             		<select name="province4" class="province pull-left" id="select6"></select>    
				  		<span class="down pull-left">
				  			<span class="down-img"></span>
				  		</span>	
	        	 	</p>
					<p class="select half pull-right">
						<input type="hidden" value="{$list4[0]['city']}" id="city2">
	          			<select name="city4" class="city" id="select7"></select>
				  		<span class="down">
				  			<span class="down-img"></span>
				  		</span>	
					</p>
					<div style="display:none"><select name="area4"></select></div>
	        	</div>
	        	<div class="form-group">
				    <input type="text" class="form-control" name="info[school]" value="{$list4[0]['school']}" placeholder="请输入您的学校">
				</div>
				<div class="form-group">
				    <input type="text" class="form-control" name="info[time]" value="{$list4[0]['time']}" placeholder="请输入您的入学时间">
				</div>
				<div class="form-group">
				    <input type="text" class="form-control" name="info[account]" value="{$list4[0]['account']}" placeholder="请输入您的学信网账号">
				</div>
				<div class="form-group">
				    <input type="password" class="form-control" name="info[password]" value="" placeholder="请输入您的学信网密码">
				</div>
				<div class="control-group js_uploadBox">
					<p>学信截图</p>
					<div class="btn-upload" style="overflow: hidden;">
					 	<label for="images2" style="float:left">
					 		<img src="{$Think.config.URL}/images/xianjinbashi/jia.png" alt="" />
					 	</label>
						 <input class="js_upFile"type="file" name="img2" id="images2">
						 <div class="js_showBox con" style="float:left">
							<dt>
								<img class="js_logoBox" width="100px" src="{$list4[0]['url']}"/>
							</dt>
						</div>
					</div>
				</div>
				<div style="margin-top: 14px">
					<a href="{:U('Weixin/xuexin')}" style="color:red;">截图案例</a>
				</div>
				<div class="or">
			  		<input type="hidden" value="{$openid}"  name="info[openid]">
				  	<input type="hidden" value="{$phone}"  name="info[phone]">
				  	<input type="hidden" value=""  name="info[name]" id="xue_name">
			  		<button type="button" class="pull-right btn btn-primary" id="lower" onclick="add_xuesheng()">下一页</button>		  	
			  </div>
	      	</form>
	      </div>
	      </div>
	      
	      
	      <!-- 社会关系 -->
	      <div class="" id="society">
	      	<form id="user_gam" action="{:U('Weixin/add_user_gam')}">
	      	  <div class="form-group select">
	      	  	<input type="hidden" value="{$list3[0]['family']}" id="family">
			  	<select id="world" name="info[family]" class="select_family">
					  <option value="">亲属关系</option>
					  <option value="父母">父母</option>
					  <option value="配偶">配偶</option>
					  <option value="兄弟姐妹">兄弟姐妹</option>
			  	</select>
			  	<span class="down">
			  		<span class="down-img"></span>
			  	</span>
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" name="info[family_name]" value="{$list3[0]['family_name']}" placeholder="请输入亲属关系的姓名">
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" name="info[family_mobile]" value="{$list3[0]['family_mobile']}" placeholder="请输入亲属关系的手机号">
			  </div>
			  <div class="form-group select">
			  	<input type="hidden" value="{$list3[0]['gam']}" id="gam">
			  	<select name="info[gam]" id="select8">
					  <option value="">社会关系</option>
					  <option value="同事">同事</option>
					  <option value="朋友">朋友</option>
					  <option value="同学">同学</option>
			  	</select>
			  	<span class="down">
			  		<span class="down-img"></span>
			  	</span>
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" name="info[gam_name]" value="{$list3[0]['gam_name']}" placeholder="请输入社交联系人的姓名">
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" name="info[gam_mobile]" value="{$list3[0]['gam_mobile']}" placeholder="请输入社交联系人的手机号码">
			  </div>
			  <div class="form-group select">
			  	<input type="hidden" value="{$list3[0]['gam2']}" id="gam2">
			  	<select name="info[gam2]" id="select9">
					  <option value="">社会关系</option>
					  <option value="同事">同事</option>
					  <option value="朋友">朋友</option>
					  <option value="同学">同学</option>
			  	</select>
			  	<span class="down">
			  		<span class="down-img"></span>
			  	</span>
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" name="info[gam_name2]" value="{$list3[0]['gam_name2']}" placeholder="请输入社交联系人的姓名">
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" name="info[gam_mobile2]" value="{$list3[0]['gam_mobile2']}" placeholder="请输入社交联系人的手机号码">
			  </div>
			  <div class="or clearfix">
			  	<input type="hidden" value="{$phone}"  name="info[phone]">
			  	<input type="hidden" value=""  name="info[name]" id="name1">
			  	<input type="hidden" value="{$openid}" name="info[openid]">
			  	<button type="button" style="width: 45%" class="btn pull-left btn-primary" id="upper">上一页</button>
			  	<button type="button" style="width: 45%" class="btn pull-right btn-primary"  onclick="add_user_gam()">提交</button>			  	
			  </div>
			</form>
	      </div>
	    </div>
	  </div>
	  
	</div>
	<div class="biger">
		<div class="biger-bac">
			<div class="biger-pic">
				<img src="{$list4[0]['url']}" alt="" title=""/>
				<span>X</span>
			</div>
		</div>
	</div>
	<div class="class" style="display:none;width: 50px;height: 50px;position: fixed;left: 45%;top:35%;">
		<img src="{$Think.config.URL}/images/xianjinbashi/jiazai.png" width="50px" height="50px">
	</div>
</body>
<script  type="text/javascript"  src="{$Think.config.URL}js/jquery.uploadView.js"></script>
<script>

$(".js_upFile").uploadView({
	uploadBox: '.js_uploadBox',//设置上传框容器
	showBox : '.js_showBox',//设置显示预览图片的容器
	width : 80, //预览图片的宽度，单位px
	height : 80, //预览图片的高度，单位px
	allowType: ["gif", "jpeg", "jpg", "bmp", "png"], //允许上传图片的类型
	maxSize :10, //允许上传图片的最大尺寸，单位M
	success:function(e){
		$(".js_uploadText").text('更改');
		alert('图片上传成功');
	}
});

//功能描述：点击图片，从中间展开幕布，当幕布完全展开时，放大图片出现，点击叉图片关闭，然后幕布关闭
//点击图片，展开幕布
$(".con").on("click", function() {
	var aa = $(this).children("img").attr("src");
	console.log(aa)
	$(".biger-pic").children("img").attr("src",aa);
	$(".biger").css({"display" : "block"})
	$(".biger-bac").stop().animate({
		"top" : "0",
		"height" : "100%"
	}, function() {
		$(".biger-pic").css({"display" : "block"});
	});
});

//点击叉，关闭图片并隐藏幕布模块
$(".biger-pic span").on("click", function() {
	$(".biger-pic").css({"display" : "none"});
	$(".biger-bac").stop().animate({
		"top" : "50%",
		"height" : "0"
	}, function() {
		$(".biger").css({
			"display" : "none"
		})
	});
})

var province = $('#province').val();
var city = $('#city').val();
var province2 = $('#province2').val();
var city2 = $('#city2').val();
new PCAS("province5","city5","area5",""+province+"",""+city+"");
new PCAS("province4","city4","area4",""+province2+"",""+city2+"");
var titBtn = $("#myTabs li");
titBtn.click(function() {
	$(this).addClass("border").siblings().removeClass("border").parent().siblings().children().eq($(this).index()).css({
		display: 'block'
	}).siblings().css({
		display: 'none'
	});
})
var option = $('#work1').val();
if(option == '学生'){
	var a = "";
	$('#work1').val(a);
	$('#gongzuo').css('display','none');
	$('#xuesheng').css('display','block');
}
$('#select4').change(function(){
	var option = $('#select4').val();
	if(option == '学生'){
		var a = "";
		$('#select4').val(a);
		$('#gongzuo').css('display','none');
		$('#xuesheng').css('display','block');
	}else{
		$('#gongzuo').css('display','block');
		$('#xuesheng').css('display','none');
	}
})
$('#sheng').change(function(){
	var option = $('#sheng').val();
	var a = "";
	$('#sheng').val(a);
	if(option == '学生'){
		$('#gongzuo').css('display','none');
		$('#xuesheng').css('display','block');
	}else{
		$('#gongzuo').css('display','block');
		$('#xuesheng').css('display','none');
	}
})
var education = $('#education').val();
$('#select1').find("option[value='"+education+"']").attr("selected",true);
var marriage = $('#marriage').val();
$('#select2').find("option[value='"+marriage+"']").attr("selected",true);
var is_children = $('#is_children').val();
$('#select3').find("option[value='"+is_children+"']").attr("selected",true);
var work1 = $('#work1').val();
$('#select4').find("option[value='"+work1+"']").attr("selected",true);
var wages = $('#wages').val();
$('#select5').find("option[value='"+wages+"']").attr("selected",true);
var family = $('#family').val();
$('.select_family').find("option[value='"+family+"']").attr("selected",true);
var gam = $('#gam').val();
$('#select8').find("option[value='"+gam+"']").attr("selected",true);
var gam2 = $('#gam2').val();
$('#select9').find("option[value='"+gam2+"']").attr("selected",true);

//跳转个人征信界面
function gerenzhengxin(){
	var name = $('#name').val();   //获取姓名 
	var uid = $('#uid').val();    //获取身份证号 
	var myDate = new Date();  //创建时间函数 
	var mytime = myDate.toLocaleDateString();     //获取当前时间
	window.location.href="/index.php/Weixin/gerenzhengxin?name="+name+"&uid="+uid+"&time="+mytime;
}
//用户信息输入框非空方法 
function checkText1(){
	return $("#user_info").validate({
		errorPlacement: function(error, element) {  
		    error.appendTo(element.parent());  
		},
		errorElement: "div",
		rules:{
			"info[name]":{
				required:true,
				isChinese:true
			},
			"info[uID]":{
				required:true,
				isIdCardNo:true
			},
			"info[qq]":{
				required:true,
				isQq:true
			},
			"info[email]":{
				required:true
			},
			"info[education]":{
				required:true
			},
			"info[marriage]":{
				required:true
			},
			"info[is_children]":{
				required:true
			},
			"agree":{
				required:true
			}
		},
		messages:{
			"info[name]":{
				required:'请输入您的真实姓名',
				isChinese:'请输入正确的姓名'
			},
			"info[uID]":{
				required:'请输入您的身份证号码',
				isIdCardNo:'请输入正确的身份证号'
			},
			"info[qq]":{
				required:'请输入您的QQ号码',
				isQq:'请输入正确的QQ号码'
			},
			"info[email]":{
				required:'请输入您的邮箱'
			},
			"info[education]":{
				required:'请选择教育水平'
			},
			"info[marriage]":{
				required:'请选择婚姻状况'
			},
			"info[is_children]":{
				required:'请选择有无子女'
			},
			"agree":{
				required:'请勾选授权协议'
			}
		}
	})
}
//用户职业信息输入框非空方法 
function checkText2(){
	return $("#user_work").validate({
		errorPlacement: function(error, element) {  
		    error.appendTo(element.parent());  
		},
		errorElement: "div",
		rules:{
			"info[work]":{
				required:true
			},
			"info[wages]":{
				required:true
			},
			"info[company_name]":{
				required:true
			},
			"province5":{
				required:true
			},
			"city5":{
				required:true
			},
			"info[address]":{
				required:true
			}
		},
		messages:{
			"info[work]":{
				required:'请选择您的职业'
			},
			"info[wages]":{
				required:'请选择您的待遇'
			},
			"info[company_name]":{
				required:"请输入您的单位名称"
			},
			"province5":{
				required:'请选择您的省'
			},
			"city5":{
				required:'请选择您的城市'
			},
			"info[address]":{
				required:'请输入您的详细地址'
			}
		}
	})
}
//用户社会关系信息输入框非空方法 
function checkText3(){
	return $("#user_gam").validate({
		errorPlacement: function(error, element) {  
		    error.appendTo(element.parent());  
		},
		errorElement: "div",
		rules:{
			"info[family]":{
				required:true
			},
			"info[family_name]":{
				required:true
			},
			"info[family_mobile]":{
				required:true,
				isMobile:true
			},
			"info[gam]":{
				required:true
			},
			"info[gam_name]":{
				required:true
			},
			"info[gam_mobile]":{
				required:true,
				isMobile:true
			},
			"info[gam2]":{
				required:true
			},
			"info[gam_name2]":{
				required:true
			},
			"info[gam_mobile2]":{
				required:true,
				isMobile:true
			}
		},
		messages:{
			"info[family]":{
				required:'请选择亲属关系'
			},
			"info[family_name]":{
				required:'请输入亲属关系的姓名'
			},
			"info[family_mobile]":{
				required:'请输入您的父母联系号码',
				isMobile:'请添加正确的手机号码'
			},
			"info[gam]":{
				required:'请选择您的社会关系'
			},
			"info[gam_name]":{
				required:'请选择您的社会关系姓名'
			},
			"info[gam_mobile]":{
				required:'请输入您的社交联系人的手机号',
				isMobile:'请添加正确的手机号码'
			},
			"info[gam2]":{
				required:'请选择您的社会关系'
			},
			"info[gam_name2]":{
				required:'请选择您的社会关系姓名'
			},
			"info[gam_mobile2]":{
				required:'请输入您的社交联系人的手机号',
				isMobile:'请添加正确的手机号码'
			}
		}
	})
}
//学生信息输入框非空方法 
function checkText4(){
	return $("#xue_sheng").validate({
		errorPlacement: function(error, element) {  
		    error.appendTo(element.parent());  
		},
		errorElement: "div",
		rules:{
			"info[work]":{
				required:true
			},
			"province4":{
				required:true
			},
			"city4":{
				required:true
			},
			"info[school]":{
				required:true
			},
			"info[time]":{
				required:true
			},
			"info[account]":{
				required:true
			},
			"info[password]":{
				required:true
			}
		},
		messages:{
			"info[work]":{
				required:'请选择您的职业'
			},
			"province4":{
				required:'请选择您的省'
			},
			"city4":{
				required:'请选择您的城市'
			},
			"info[school]":{
				required:'请输入您的学校'
			},
			"info[time]":{
				required:"请输入您的入学时间"
			},
			"info[account]":{
				required:'请输入您的学信网账号'
			},
			"info[password]":{
				required:'请输入您的学信网密码'
			}
		}
	})
}
//添加用户信息 
function add_user_info(){
	if(!checkText1().form())return;
	$('#user_info').ajaxSubmit({
		type:"POST",
		url:$('#user_info').attr('action'),
		datatype:"json",
		success:function(data){
			if(data == '下一页'){
				$("#myTabs").children("li").eq(1).addClass("border").siblings("li").removeClass("border");
				$("#user").hide();
				$("#work").show();
			}
		}
	})
}
 
//用户职业信息上一页
$("#last").click(function() {
	$("#myTabs").children("li").eq(0).addClass("border").siblings("li").removeClass("border");
	$("#user").show();
	$("#work").hide();		
})
//添加用户职业信息
function add_user_work(){
	var work = $("#select4").val();
	if(work != '无'){
		if(!checkText2().form())return;
	}
	var name = $('#name').val();
	$('#user_name').val(name);
	$('#user_work').ajaxSubmit({
		type:"POST",
		url:$('#user_work').attr('action'),
		datatype:"json",
		success:function(data){
			if(data == '下一页'){
				$("#myTabs").children("li").eq(2).addClass("border").siblings("li").removeClass("border");
				$("#work").hide();
				$("#society").show();
			}
		}
	}) 
}
//添加学生信息 
function add_xuesheng(){
	if(!checkText4().form())return;
	//var img = $("#images2").val();
	$('.class').css('display','block');
	var name = $('#name').val();
	$('#xue_name').val(name);
	$('#xue_sheng').ajaxSubmit({
		type:"POST",
		url:$('#xue_sheng').attr('action'),
		datatype:"json",
		success:function(data){
			if(data == '下一页'){
				$('.class').css('display','none');
				$("#myTabs").children("li").eq(2).addClass("border").siblings("li").removeClass("border");
				$("#work").hide();
				$("#society").show();
			}else{
				$('.class').css('display','none');
				alert(data);
			}
		}
	})
}
//社交关系上一页
$("#upper").click(function() {
	$("#myTabs").children("li").eq(1).addClass("border").siblings("li").removeClass("border");
	$("#society").hide();
	$("#work").show();		
})
//添加用户社会关系信息 
function add_user_gam(){
	if(!checkText3().form())return;
	var name = $('#name').val();
	$('#name1').val(name);
	$('#user_gam').ajaxSubmit({
		type:"POST",
		url:$('#user_gam').attr('action'),
		datatype:"json",
		success:function(data){
			if(data == '提交'){
				var phone = $("input[name='info[phone]']").val();
				var openid = $("input[name='info[openid]']").val();
				setTimeout(function(){window.location.href="/index.php/Weixin/info?phone="+phone+"&openid="+openid},1000);
			}else if(data == '信息填写不完整'){
				alert(data);
			}else if(data == '信息填写不完整'){
				alert(data);
			}
		}
	})
}
</script>
</html>