<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>上传身份证</title>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="{$Think.config.URL}css/launch.css" rel="stylesheet">
<script type="text/javascript" src="{$Think.config.URL}js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/jquery.form-3.51.0.js"></script>
<style>
.class {
	-webkit-animation:rotage-change 2s linear 0.5s infinite ;
}
@-webkit-keyframes rotage-change {
             /*起始*/
         from {         
              -webkit-transform: rotate(0deg);
         }
         /*结束*/
         to {
              -webkit-transform: rotate(360deg);
         }
      }
      
.con dt img {
	display: block;
	height: 100%;
}
.con dd {
	height: 20px;
	font: normal 12px/20px "Microsoft YaHei";
	text-align: center;
}
.biger {
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	width: 100%;
	height: 100%;
}
.biger-bac {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.biger-pic {
	position: relative;
	display: none;
	width: 100%;
	height: 50%;
	margin: 0 auto;
	padding: 50px;
}
.biger-bac img {
	display: block;
	width: 100%;
	height: 100%;
}
.biger-pic span {
	position: absolute;
	right: 50px;
	top: 50px;
	width: 20px;
	height: 20px;
	background-color: black;
	color: white;
	font: bold 12px/20px "Microsoft YaHei";
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
</style>
</head>
<body>
	<form action="{:U('Weixin/upload_img')}" id="form">
		 <div class="control-group js_uploadBox" style="margin-top: 50px;">
			<p>上传身份证正面</p>
			<div class="btn-upload" style="overflow: hidden;">
			 	<label for="images1" style="float:left">
			 		<img src="{$Think.config.URL}/images/xianjinbashi/jia.png" alt="" />
			 	</label>
				 <input class="js_upFile"type="button" name="img1" id="images1">
				 <div class="js_showBox con"  style="float:left">
						<img class="js_logoBox" id="i1" width="100px" src="{$res['img1']}"/>
						<input type="hidden" value="" id="media_id1" name="media_id1">
				</div>
			</div>
		</div>
		<div class="control-group js_uploadBox">
			<p>上传身份证反面</p>
			<div class="btn-upload" style="overflow: hidden;">
			 	<label for="images2" style="float:left">
			 		<img src="{$Think.config.URL}/images/xianjinbashi/jia.png" alt="" />
			 	</label>
				 <input class="js_upFile"type="button" name="img2" id="images2">
				 <div class="js_showBox con" style="float:left">
						<img class="js_logoBox" id="i2" width="100px" src="{$res['img2']}"/>
						<input type="hidden" value="" id="media_id2" name="media_id2">
				</div>
			</div>
		</div> 
		<div class="control-group js_uploadBox">
			<p>上传持证自拍</p>
			<div class="btn-upload" style="overflow: hidden;">
			 	<label for="images3" style="float:left">
			 		<img src="{$Think.config.URL}/images/xianjinbashi/jia.png" alt="" />
			 	</label>
				 <input class="js_upFile"type="button" name="img3" id="images3">
				 <div class="js_showBox con" style="float:left">
						<img class="js_logoBox" id="i3" width="100px" src="{$res['img_url']}"/>
					
						<input type="hidden" value="" id="media_id3" name="media_id3">
						<input type="hidden" value="" id="is_new" name="is_new">
				</div>
			</div>
		</div>
		<div style="margin-top:20px;">
			<a href="uid_anli.html" style="color:red; font-weight: bold; font-size: 15px;">点击查看自拍身份证示意图，请按标准上传，保证照片头像及身份证清晰，否则无法通过审核</a>
		</div>
		
		<button onclick="upload_img()" type="button"  class="btn btn-primary" style="margin-top:21px;">提交</button>
	</form>
	<div class="biger">
		<div class="biger-bac">
			<div class="biger-pic">
				<img src="" alt="" title=""/>
				<span>X</span>
			</div>
		</div>
	</div>
	<div class="class" style="display:none;width: 50px;height: 50px;position: fixed;left: 45%;top:35%;">
		<img src="{$Think.config.URL}/images/xianjinbashi/jiazai.png" width="50px" height="50px">
	</div>
</body>
<!-- <script  type="text/javascript"  src="{$Think.config.URL}js/jquery.uploadView.js"></script> -->
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
  wx.config({
      debug: true,
      appId: '{$signPackage[appId]}',
	  timestamp: '{$signPackage[timestamp]}',
      nonceStr: '{$signPackage[nonceStr]}',
	  signature: '{$signPackage[signature]}',
      jsApiList: [
        'chooseImage',
		'uploadImage'
      ]
  });
  wx.ready(function(){
  
   var images1 = {
    localId: [],
    serverId: []
	};
  document.querySelector('#images1').onclick = function () {
	   wx.chooseImage({
		count: 1, // 默认9
		sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
		sourceType: [ 'camera'], // 可以指定来源是相册还是相机，默认二者都有
		success: function (res) {
			images1.localId = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
			$("#i1").attr('src',images1.localId[0]); 
			
			wx.uploadImage({
				localId: images1.localId[0], // 需要上传的图片的本地ID，由chooseImage接口获得
				isShowProgressTips: 1, // 默认为1，显示进度提示
				success: function (res) {
					var serverId = res.serverId; // 返回图片的服务器端ID
					$("#media_id1").val(serverId);
					$("#is_new").val('1');
				}
			});
			
		}
		});
  }
  var images2 = {
    localId: [],
    serverId: []
  };
    document.querySelector('#images2').onclick = function () {
	   wx.chooseImage({
		count: 1, // 默认9
		sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
		sourceType: [ 'camera'], // 可以指定来源是相册还是相机，默认二者都有
		success: function (res) {
			images2.localId = res.localIds;// 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
			$("#i2").attr('src',images2.localId[0]);
			wx.uploadImage({
				localId: images2.localId[0],  // 需要上传的图片的本地ID，由chooseImage接口获得
				isShowProgressTips: 1, // 默认为1，显示进度提示
				success: function (res) {
					var serverId = res.serverId; // 返回图片的服务器端ID
					$("#media_id2").val(serverId);
					$("#is_new").val('1');
				}
			});
			
		}
		});
  }
  var images = {
    localId: [],
    serverId: []
  };
    document.querySelector('#images3').onclick = function () {
	   wx.chooseImage({
		count: 1, // 默认9
		sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
		sourceType: [ 'camera'], // 可以指定来源是相册还是相机，默认二者都有
		success: function (res) {
		
			images.localId = res.localIds;// 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
			$("#i3").attr('src',images.localId[0]); 
	
			
			wx.uploadImage({
				localId: images.localId[0],// 需要上传的图片的本地ID，由chooseImage接口获得
				isShowProgressTips: 1, // 默认为1，显示进度提示
				success: function (res) {
					var serverId = res.serverId; // 返回图片的服务器端ID
					$("#media_id3").val(serverId);
					$("#is_new").val('1');
				}
			});
		}
		});
  }

  
 
});

</script>
<script>
/*$(".js_upFile").uploadView({
	uploadBox: '.js_uploadBox',//设置上传框容器
	showBox : '.js_showBox',//设置显示预览图片的容器
	width : 80, //预览图片的宽度，单位px
	height : 80, //预览图片的高度，单位px
	allowType: ["gif", "jpeg", "jpg", "bmp", "png"], //允许上传图片的类型
	maxSize :10, //允许上传图片的最大尺寸，单位M
	success:function(e){
		$(".js_uploadText").text('更改');
		alert('图片上传成功');
	}
});
*/
//功能描述：点击图片，从中间展开幕布，当幕布完全展开时，放大图片出现，点击叉图片关闭，然后幕布关闭
// 点击图片，展开幕布
$(".con").on("click", function() {
	var aa = $(this).children("img").attr("src");
	console.log(aa)
	$(".biger-pic").children("img").attr("src",aa);
	$(".biger").css({"display" : "block"})
	$(".biger-bac").stop().animate({
		"top" : "0",
		"height" : "100%"
	}, function() {
		$(".biger-pic").css({"display" : "block"});
	});
});

// 点击叉，关闭图片并隐藏幕布模块
$(".biger-pic span").on("click", function() {
	$(".biger-pic").css({"display" : "none"});
	$(".biger-bac").stop().animate({
		"top" : "50%",
		"height" : "0"
	}, function() {
		$(".biger").css({
			"display" : "none"
		})
	});
})
function upload_img(){
	
	$('.class').css('display','block');
	var media_id3 = $("#media_id3").val();
	var i3 = $("#i3")[0].src;
	//alert(i3);
	var media_id1 = $("#media_id1").val();
	var media_id2 = $("#media_id2").val();
	//alert(media_id1);
	//alert(media_id2);
	//alert(media_id3);
	if( (media_id3 && media_id1 && media_id2 )|| (i3 && i2 && i1)){
		$('#form').ajaxSubmit({
			type:"POST",
			url:$('#form').attr("action"),
			
			datatype:"json",
			success:function(data){
				if(data == '提交成功'){
					setTimeout(function(){window.location.href="/index.php/Weixin/queren_loan"},1000);
				}else{
					$('.class').css('display','none');
					alert(data);
				}
			}
		});
	}else{
		alert("图片上传不完整");
		return false;
	}
	//var img2 = document.getElementById("images2").value;
	//var img3 = document.getElementById("images3").value;
	
	
		
}
</script>
</html>