<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<title>互看芝麻分</title>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="{$Think.config.URL}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/bootstrap.min.js"></script>
<style>
P{
	text-align:center;
	color: red;
}
div{
	margin-top: 40px;
}
</style>
</head>
<body>
	<div>
		<p>1. 进入芝麻信用（支付宝-我的-芝麻信用），并点击左下角“信用管理”</p>
		<img src="{$Think.config.URL}/images/xianjinbashi/1.jpg" class="img-responsive">
	</div>
	<div>
		<p>2. 进入“信用管理”后，点击“信用互查”</p>
		<img src="{$Think.config.URL}/images/xianjinbashi/2.jpg" class="img-responsive">
	</div>
	<div>
		<p>3. 进入“信用互查”后，输入手机号“15259725110”，该号码为e快金支付宝账号；输入手机号后，点击右下角小键盘的“换行”键</p>
		<img src="{$Think.config.URL}/images/xianjinbashi/3.jpg" class="img-responsive">
	</div>
	<div>
		<p>4. 进入“查分详情”后，直接点击“申请互看芝麻分”即可，随后就会提示“申请已发出”，并返回到“信用互查”，稍等片刻会看到您发起的申请。</p>
		<img src="{$Think.config.URL}/images/xianjinbashi/4.jpg" class="img-responsive">
		<img src="{$Think.config.URL}/images/xianjinbashi/5.jpg" class="img-responsive">
		<img src="{$Think.config.URL}/images/xianjinbashi/6.jpg" class="img-responsive">
	</div>
</body>
</html>