<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>任务管理</title>

<!-- header binge -->
<include file="Public/header" />

<!-- header end -->

<!--<script type="text/javascript" src="{$Think.config.URL}js/new/unify.js"></script>-->
<script type="text/javascript">
jQuery(document).ready(function(){

	
	jQuery('.taglist .close').click(function(){
		jQuery(this).parent().remove();
		return false;
	});
	
});
</script>
</head>


<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
</head>
<body >

<!-- header binge -->
<include file="Public/head" />

<!-- header end -->
    
    <div class="rightpanel">
        
        <ul class="breadcrumbs">
            <li><a href="{:U('Console/dashboard')}"><i class="iconfa-home"></i></a> <span class="separator"></span></li>
            <li><a href="{:U('Console/dashboard')}">后台面板</a> <span class="separator"></span></li>
            <li>任务管理</li>
        </ul>
        
        <div class="maincontent">
            <div class="maincontentinner">
                <div class="row-fluid">
                        <div>
                           <div id="update" style="display: block;">
                           	<form class="editprofileform" method="post" id="form1">
                              <div class="widgetbox personal-information">
                                  <h4 class="widgettitle">修改任务</h4>
                                  <div class="widgetcontent">
                                  	  <input type="hidden" name="id" id="id" value="{$rs.id}">
                                       <div id="update01" style="display: block;">
                                       		 <p>
		                                       <label>*商户类别：</label>
		                                          <select name="bus_type_id" id="bus_type_id">
		                                            <option value="">请选择</option>
                                                   <volist name="bus_type" id="vo">
                                                    <option id="57" value="{$vo.id}">{$vo.name}</option>
                                                    </volist>
                                                    
		                                            
                                               </select>
			                                 </p>
	                                   	 <p>
                                           <label>*标题：</label>
	                                          <input type="text" name="title" id="title" class="input-xlarge" value="{$rs.title}">
	                                       </p>
	                                   	 <p>
                                           <label>*日期：</label>
		                                         <input type="text" name="date" id="date" class="input-xlarge" value="{$rs.date}">
	                                     </p>
		                                   	<p>
	                                          <label>*时段开始：</label>
		                                          <input name="t_start" type="text" class="input-xlarge" id="t_start" value="{$rs.t_start}" size="4" maxlength="2">
		                                          —— 
		                                          <input name="t_end" type="text" class="input-xlarge" id="t_end" value="{$rs.t_end}" size="4" maxlength="2">
	                                   	 </p>
	                                     <p>
                                           <label>*额度开始：</label>
	                                           <input name="c_start" type="text" class="input-xlarge" id="c_start" value="{$rs.c_start}" size="12">
	                                           —— 
	                                           <input name="c_end" type="text" class="input-xlarge" id="c_end" value="{$rs.c_end}" size="12">
	                                     </p>		                                
		                                <p>
		                                	<a href="javascript:void();" class="btn btn-primary" id="submitBtn"><small>提交信息</small></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                                	<a href="javascript:void();" class="btn btn-primary" onclick="history.go(-1)"><small>取消</small></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                                	<span id="caozuo"></span>
		                                </p>
                                  </div>
                              </div>
                           </form>
                        </div>
                                                
                    </div><!--row-fluid-->
                  
                  
        		 <!-- footer binge -->
				<include file="Public/footer" />
				
				<!-- footer end -->
                
                
        </div><!--maincontent-->
        
    </div><!--rightpanel-->
    
</div><!--mainwrapper-->


<script type="text/javascript">
$('#submitBtn').click(function(){
	submit=1;
	
	$("#form1 :input").each(function(){
		if(this.value.length<1){
			submit=0;
			alert($(this).parent().find('label').eq(0).html());
			return false;
		}
	});
		
	if(submit<1)return false;
	
	document.getElementById('form1').submit();
});

document.getElementById('bus_type_id').value='{$rs.bus_type_id}';
</script>


</body>
</html>
