

<div class="mainwrapper">
    
    <div class="leftpanel">
        <div class="leftmenu">        
            <ul class="nav nav-tabs nav-stacked">
            <li class="nav-header">欢迎 {$Think.session.userid}</li>
	        <li {$set.active}><a href="{:U('Console/dashboard')}"><span class="iconfa-laptop"></span> 后台面板</a></li>
            <if condition="$limits eq '1'">	
            		<!-- 管理员 -->
            		
	                <li class="dropdown {$data.sh_one}">
	                	<a href="">
		                	<span class="iconfa-comments"></span> 会员管理
	                	</a>
	                	<ul {$data.sh_block}>
	                    	<!-- <li {$data.sh_two01}><a href="{:U('Admin/service')}">添加会员</a></li> -->
	                        <li {$data.sh_two01}><a href="{:U('Admin/s_manage')}">会员列表</a></li>
	                        <li {$data.sh_two02}>
	                        	<a href="{:U('Admin/user_money_info')}">
		                        	用户借款信息
	                        	</a>
	                        </li>
	                        <li {$data.sh_two03}><a href="{:U('Admin/user_info')}">用户个人信息</a></li>
	                        <li {$data.sh_two04}><a href="{:U('Admin/user_work')}">用户职业信息</a></li>
	                        <li {$data.sh_two05}><a href="{:U('Admin/user_gam')}">用户社会关系</a></li>
	                    </ul>
	                </li>
	                
	                <li class="dropdown {$data.sh_two}">
	                	<a href="">
	                		<span class="iconfa-comments"></span>任务管理
	                		<if condition="$state_num eq 0">
	                       			
	                     	<else/>
	                      		<span style="color:red;margin-left:10px;">({$state_num})</span>
	                      	</if>
	                	</a>
	                	<ul {$data.sh_block1}>
	                        <li  {$data.sh_two06}>
	                        	<a href="{:U('Task/loan_task')}">
	                        		借款任务管理
	                       			<if condition="$shuju eq 0">
	                       			
	                       			<else/>
	                        			<span style="color:red;margin-left:10px;">({$shuju})</span>
	                        		</if>
	                        	</a>
	                        </li>
	                        <li {$data.sh_two07}>
	                        	<a href="{:U('Admin/bank_info')}">
		                        	<if condition="$bank_list eq 0">
		                        		银行卡绑定信息
		                        	<else/>
		                        		银行卡绑定信息<span style="color:red;margin-left:10px;">({$bank_list})</span>
		                        	</if>
	                        	</a>
	                        </li>
	                        <li  {$data.sh_two09}>
	                        	<a href="{:U('Task/examine_list')}">
	                        		<if condition="$fangkuang eq 0">
		                        		放款列表
		                        	<else/>
		                        		放款列表<span style="color:red;margin-left:10px;">({$fangkuang})</span>
		                        	</if>
	                        	</a>
	                        </li>
	                    </ul>
	                </li>
					
	                <li class="dropdown {$data.sh_three}">
	                	<a href=""><span class="iconfa-comments"></span>
	                	<if condition="$shoukaun eq 0">
	                		放款管理
	                	<else/>
	                		放款管理<span style="color:red;margin-left:10px;">({$shoukaun})</span>
	                	</if>
	                	</a>
	                	<ul {$data.sh_block2}>
	                        <li {$data.sh_two10}><a href="{:U('Transaction/loan_list')}">放款完成</a></li>
	                        <li {$data.sh_two11}>
	                        <a href="{:U('Transaction/no_repayment')}">
	                        <if condition="$shoukaun eq 0">
	                        	未还款/已还款
	                        <else/>
	                        	未还款/已还款<span style="color:red;margin-left:10px;">({$shoukaun})</span>
	                        </if>
	                        </a>
	                        </li>
	                        <li {$data.sh_two12}><a href="{:U('Transaction/overdue')}">逾期</a></li>
	                    </ul>
	                </li>
				<li class="dropdown {$data.sh_four}"><a href=""><span class="iconfa-comments"></span>代理管理</a>
                	<ul {$data.sh_block3}>
                        <li {$data.sh_two13}><a href="{:U('Agent/agent')}">添加代理成员</a></li>
                        <li {$data.sh_two14}><a href="{:U('Agent/agent_list')}">代理成员信息</a></li>
                    </ul>
                </li>
                
               <!-- <li class="dropdown {$data.sh_five}"><a href=""><span class="iconfa-comments"></span>审核员管理</a>
                	<ul {$data.sh_block4}>
                        <li {$data.sh_two15}><a href="{:U('Examine/examine')}">添加审核成员</a></li>
                        <li {$data.sh_two16}><a href="{:U('Examine/examine_list')}">审核成员信息</a></li>
                    </ul>
                </li>-->
                
                <li class="dropdown {$data.sh_six}"><a href=""><span class="iconfa-comments"></span>文章管理</a>
                	<ul {$data.sh_block5}>
                        <li {$data.sh_two17}><a href="{:U('Article/add_problem')}">添加文章</a></li>
                        <li {$data.sh_two18}><a href="{:U('Article/problem_list')}">文章列表</a></li>
                        <li {$data.sh_two19}><a href="{:U('Article/message_list')}">用户留言</a></li>
                        <li {$data.sh}><a href="{:U('Article/surver_list')}">调研报告列表</a></li>
                        <li {$data.sh_two20}><a href="{:U('Article/agreement')}">编辑协议</a></li>
                    </ul>
                </li>
                
                <li class="dropdown {$data.aa}"><a href=""><span class="iconfa-comments"></span>活动管理</a>
                	<ul {$data.sh_block7}>
                        <li {$data.sh_two30}><a href="{:U('Activity/add_activity')}">添加活动</a></li>
                        <li {$data.sh_two31}><a href="{:U('Activity/activity_list')}">活动列表</a></li>
                    </ul>
                </li>
                
                
                <li class="dropdown {$data.bb}"><a href=""><span class="iconfa-comments"></span>合同下载</a>
                	<ul {$data.sh_block8}>
                        <li {$data.sh_two32}><a href="{:U('Contract/contract_list')}">合同列表</a></li>
                    </ul>
                </li>
            	
                 <li class="dropdown {$data.sh_seven}"><a href=""><span class="iconfa-comments"></span> 基本配置</a>
                	<ul {$data.sh_block6}>
                       <li {$data.sh_two21}><a href="{:U('Admin/sms')}">短信配置</a></li>
                		<li {$data.sh_two23}><a href="{:U('Admin/money_manage')}">借款套餐配置</a></li>
                		<li {$data.sh_two24}><a href="{:U('Admin/overdue')}">逾期配置</a></li>
                		<li {$data.sh_two28}><a href="{:U('Admin/xuqi')}">续期配置</a></li>
                		<li {$data.sh_two29}><a href="{:U('Admin/admin_data')}">资料配置</a></li>
                        <li {$data.sh_two26}><a href="{:U('Index/editprofile')}">修改密码</a></li>
                        <li {$data.sh_two27}><a href="{:U('Daoqi/daoqi')}">到期提醒配置</a></li>
                        <li><a href="{:U('Index/exit_t')}">退出</a></li>
                    </ul>
                </li>
                
            <elseif condition="$limits eq '3'"/>
            	 <li class="dropdown {$data.sh_one}">
	               	<a href="">
	                	<span class="iconfa-comments"></span> 会员管理
	               	</a>
	               	<ul {$data.sh_block}>
	                       <li {$data.sh_two01}><a href="{:U('Admin/s_manage')}">会员列表</a></li>
	                       <li {$data.sh_two02}>
	                       	<a href="{:U('Admin/user_money_info')}">
	                        	用户借款信息
	                       	</a>
	                       </li>
	                       <li {$data.sh_two03}><a href="{:U('Admin/user_info')}">用户个人信息</a></li>
	                       <li {$data.sh_two04}><a href="{:U('Admin/user_work')}">用户职业信息</a></li>
	                       <li {$data.sh_two05}><a href="{:U('Admin/user_gam')}">用户社会关系</a></li>
	                   </ul>
	              </li>
                
                 <li class="dropdown {$data.sh_two}">
	                	<a href="">
	                		<span class="iconfa-comments"></span>任务管理
	                		<if condition="$state_num eq 0">
	                       			
	                     	<else/>
	                      		<span style="color:red;margin-left:10px;">({$state_num})</span>
	                      	</if>
	                	</a>
	                	<ul {$data.sh_block1}>
	                        <li  {$data.sh_two06}>
	                        	<a href="{:U('Task/loan_task')}">
	                        		借款任务管理
	                       			<if condition="$shuju eq 0">
	                       			
	                       			<else/>
	                        			<span style="color:red;margin-left:10px;">({$shuju})</span>
	                        		</if>
	                        	</a>
	                        </li>
	                        <li {$data.sh_two07}>
	                        	<a href="{:U('Admin/bank_info')}">
		                        	<if condition="$bank_list eq 0">
		                        		银行卡绑定信息
		                        	<else/>
		                        		银行卡绑定信息<span style="color:red;margin-left:10px;">({$bank_list})</span>
		                        	</if>
	                        	</a>
	                        </li>
	                        <!-- <li {$data.sh_two08}>
	                        	<a href="{:U('Admin/user_img')}">
		                        	<if condition="$img eq 0">
		                        		持证自拍审核
		                        	<else/>
		                        		持证自拍审核<span style="color:red;margin-left:10px;">({$img})</span>
		                        	</if>
	                        	</a>
	                        </li> -->
	                        <li  {$data.sh_two09}>
	                        	<a href="{:U('Task/examine_list')}">
	                        		<if condition="$fangkuang eq 0">
		                        		放款列表
		                        	<else/>
		                        		放款列表<span style="color:red;margin-left:10px;">({$fangkuang})</span>
		                        	</if>
	                        	</a>
	                        </li>
	                    </ul>
	                </li>
				
                <li class="dropdown {$data.sh_three}"><a href=""><span class="iconfa-comments"></span>放款管理</a>
                	<ul {$data.sh_block2}>
                        <li {$data.sh_two10}><a href="{:U('Transaction/loan_list')}">放款完成</a></li>
                        <li {$data.sh_two11}><a href="{:U('Transaction/no_repayment')}">未还款</a></li>
                        <li {$data.sh_two12}><a href="{:U('Transaction/overdue')}">逾期</a></li>
                    </ul>
                </li>
                <li class="dropdown {$data.sh_seven}"><a href=""><span class="iconfa-comments"></span> 基本配置</a>
                	<ul {$data.sh_block6}>
                        <li><a href="{:U('Index/exit_t')}">退出</a></li>
                    </ul>
                </li>
                
            <elseif condition="$limits eq '2'"/>
            	<li class="dropdown {$data.sh_two}">
	                	<a href="">
	                		<span class="iconfa-comments"></span>任务管理
	                		<if condition="$state_num eq 0">
	                       			
	                     	<else/>
	                      		<span style="color:red;margin-left:10px;">({$state_num})</span>
	                      	</if>
	                	</a>
	                	<ul {$data.sh_block1}>
	                        <li  {$data.sh_two06}>
	                        	<a href="{:U('Task/loan_task')}">
	                        		借款任务管理
	                       			<if condition="$shuju eq 0">
	                       			
	                       			<else/>
	                        			<span style="color:red;margin-left:10px;">({$shuju})</span>
	                        		</if>
	                        	</a>
	                        </li>
	                        <li {$data.sh_two07}>
	                        	<a href="{:U('Admin/bank_info')}">
		                        	<if condition="$bank_list eq 0">
		                        		银行卡绑定信息
		                        	<else/>
		                        		银行卡绑定信息<span style="color:red;margin-left:10px;">({$bank_list})</span>
		                        	</if>
	                        	</a>
	                        </li>
	                        <!-- <li {$data.sh_two08}>
	                        	<a href="{:U('Admin/user_img')}">
		                        	<if condition="$img eq 0">
		                        		持证自拍审核
		                        	<else/>
		                        		持证自拍审核<span style="color:red;margin-left:10px;">({$img})</span>
		                        	</if>
	                        	</a>
	                        </li> -->
	                    </ul>
	                </li>
	                <li class="dropdown {$data.sh_seven}"><a href=""><span class="iconfa-comments"></span> 基本配置</a>
	                	<ul {$data.sh_block6}>
	                        <li><a href="{:U('Index/exit_t')}">退出</a></li>
	                    </ul>
	                </li>
            </if>
            
            </ul>
        </div><!--leftmenu-->
    </div><!-- leftpanel -->